USE [crudex]
GO
/****** Object:  StoredProcedure [dbo].[ColumnPersist]    Script Date: 01/11/2024 07:28:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ColumnPersist](@LoginId INT
									 ,@ParentOperationId INT
									 ,@OperationId INT
                                     ,@UserName NVARCHAR(25)
                                     ,@Action NVARCHAR(15)
                                     ,@LastRecord NVARCHAR(max)
                                     ,@ActualRecord NVARCHAR(max)) AS BEGIN
    DECLARE @TRANCOUNT INT = @@TRANCOUNT
           ,@ErrorMessage NVARCHAR(255)

    BEGIN TRY
        SET NOCOUNT ON
        SET TRANSACTION ISOLATION LEVEL READ COMMITTED

        DECLARE @TransactionId INT
               ,@OperationIdAux INT
               ,@CreatedBy NVARCHAR(25)
               ,@ActionAux NVARCHAR(15)
               ,@IsConfirmed BIT
               ,@W_Id int = CAST([crudex].[JSON_EXTRACT](@ActualRecord, '$.Id') AS int)

        BEGIN TRANSACTION
        SAVE TRANSACTION [SavePoint]
        EXEC @TransactionId = [dbo].[ColumnValidate] @LoginId, @UserName, @Action, @LastRecord, @ActualRecord
        SELECT @OperationIdAux = [Id]
              ,@CreatedBy = [CreatedBy]
              ,@ActionAux = [Action]
              ,@IsConfirmed = [IsConfirmed]
            FROM [crudex].[Operations]
            WHERE [TransactionId] = @TransactionId
                  AND [TableName] = 'Columns'
                  AND [IsConfirmed] IS NULL
                  AND CAST([crudex].[JSON_EXTRACT]([ActualRecord], '$.Id') AS int) = @W_Id
        IF @@ROWCOUNT <> 0 BEGIN
			IF @UserName <> @CreatedBy
				THROW 51000, 'Erro grave de segurança', 1
			ELSE IF @ActionAux = 'delete'
				THROW 51000, 'Registro excluído nesta transação', 1
			ELSE IF @Action = 'create'
				THROW 51000, 'Registro já existe nesta transação', 1
			ELSE BEGIN
				UPDATE [crudex].[Operations]
					SET [IsConfirmed] = 0 
					   ,[UpdatedAt] = GETDATE()
					   ,[UpdatedBy] = @UserName
					WHERE [Id] = @OperationIdAux
			END
		END
        INSERT INTO [crudex].[Operations] ([TransactionId]
                                            ,[TableName]
                                            ,[Action]
                                            ,[LastRecord]
                                            ,[ActualRecord]
                                            ,[IsConfirmed]
                                            ,[CreatedAt]
                                            ,[CreatedBy])
                                    VALUES(@TransactionId
                                            ,'Columns'
                                            ,@Action
                                            ,@LastRecord
                                            ,@ActualRecord
                                            ,NULL
                                            ,GETDATE()
                                            ,@UserName)
        SET @OperationIdAux = @@IDENTITY
        COMMIT TRANSACTION

        RETURN @OperationIdAux
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > @TRANCOUNT BEGIN
            ROLLBACK TRANSACTION [SavePoint];
            COMMIT TRANSACTION
        END;
        SET @ErrorMessage = '[' + ERROR_PROCEDURE() + ']: ' + ERROR_MESSAGE() + ', Line: ' + CAST(ERROR_LINE() AS NVARCHAR(10));
        THROW 51000, @ErrorMessage, 1
    END CATCH
END
