IF(SELECT object_id('[dbo].[CategoriesList]', 'P')) IS NULL
	EXEC('CREATE PROCEDURE [dbo].[CategoriesList] AS PRINT 1')
GO
ALTER PROCEDURE [dbo].[CategoriesList](@LoginId INT
                                      ,@ListIds NVARCHAR(MAX)) AS BEGIN
    DECLARE @ErrorMessage NVARCHAR(MAX)

    BEGIN TRY
        SET NOCOUNT ON
        SET TRANSACTION ISOLATION LEVEL READ COMMITTED
        IF @LoginId IS NULL
            THROW 51000, 'Valor de @LoginId é requerido', 1
        DECLARE @PageNumber INT
               ,@LimitRows INT
               ,@MaxPage INT
               ,@TransactionId INT = (SELECT MAX([Id]) FROM [crudex].[Transactions] WHERE [LoginId] = @LoginId)
               ,@Where NVARCHAR(MAX) = '[Id] IN (' + @ListIds + ')'
               ,@sql NVARCHAR(MAX)
               ,@W_Id tinyint = CAST([crudex].[JSON_EXTRACT](@RecordFilter, '$.Id') AS tinyint)
               ,@W_Name nvarchar(25) = CAST([crudex].[JSON_EXTRACT](@RecordFilter, '$.Name') AS nvarchar(25))
               ,@W_AskEncrypted bit = CAST([crudex].[JSON_EXTRACT](@RecordFilter, '$.AskEncrypted') AS bit)
               ,@W_AskMask bit = CAST([crudex].[JSON_EXTRACT](@RecordFilter, '$.AskMask') AS bit)
               ,@W_AskListable bit = CAST([crudex].[JSON_EXTRACT](@RecordFilter, '$.AskListable') AS bit)
               ,@W_AskDefault bit = CAST([crudex].[JSON_EXTRACT](@RecordFilter, '$.AskDefault') AS bit)
               ,@W_AskMinimum bit = CAST([crudex].[JSON_EXTRACT](@RecordFilter, '$.AskMinimum') AS bit)
               ,@W_AskMaximum bit = CAST([crudex].[JSON_EXTRACT](@RecordFilter, '$.AskMaximum') AS bit)
               ,@W_AskInWords bit = CAST([crudex].[JSON_EXTRACT](@RecordFilter, '$.AskInWords') AS bit)

        SELECT [Action] AS [_]
              ,CAST([crudex].[JSON_EXTRACT]([ActualRecord], '$.Id') AS tinyint) AS [Id]
              ,CAST([crudex].[JSON_EXTRACT]([ActualRecord], '$.Name') AS nvarchar(25)) AS [Name]
              ,CAST([crudex].[JSON_EXTRACT]([ActualRecord], '$.HtmlInputType') AS nvarchar(10)) AS [HtmlInputType]
              ,CAST([crudex].[JSON_EXTRACT]([ActualRecord], '$.HtmlInputAlign') AS nvarchar(6)) AS [HtmlInputAlign]
              ,CAST([crudex].[JSON_EXTRACT]([ActualRecord], '$.AskEncrypted') AS bit) AS [AskEncrypted]
              ,CAST([crudex].[JSON_EXTRACT]([ActualRecord], '$.AskMask') AS bit) AS [AskMask]
              ,CAST([crudex].[JSON_EXTRACT]([ActualRecord], '$.AskListable') AS bit) AS [AskListable]
              ,CAST([crudex].[JSON_EXTRACT]([ActualRecord], '$.AskDefault') AS bit) AS [AskDefault]
              ,CAST([crudex].[JSON_EXTRACT]([ActualRecord], '$.AskMinimum') AS bit) AS [AskMinimum]
              ,CAST([crudex].[JSON_EXTRACT]([ActualRecord], '$.AskMaximum') AS bit) AS [AskMaximum]
              ,CAST([crudex].[JSON_EXTRACT]([ActualRecord], '$.AskInWords') AS bit) AS [AskInWords]
            INTO [dbo].[#operations]
            FROM [crudex].[Operations]
            WHERE [TransactionId] = @TransactionId
                  AND [TableName] = 'Categories'
                  AND [IsConfirmed] IS NULL
        CREATE UNIQUE INDEX [#unqOperations] ON [dbo].[#operations]([Id])
        IF @W_Id IS NOT NULL BEGIN
            IF @W_Id < CAST('1' AS tinyint)
                THROW 51000, 'Valor de Id deve ser maior que ou igual a ''1''', 1
            SET @Where = @Where + ' AND [T].[Id] = @Id'
        END
        IF @W_Name IS NOT NULL BEGIN
            SET @Where = @Where + ' AND [T].[Name] = @Name'
        END
        IF @W_AskEncrypted IS NOT NULL BEGIN
            SET @Where = @Where + ' AND [T].[AskEncrypted] = @AskEncrypted'
        END
        IF @W_AskMask IS NOT NULL BEGIN
            SET @Where = @Where + ' AND [T].[AskMask] = @AskMask'
        END
        IF @W_AskListable IS NOT NULL BEGIN
            SET @Where = @Where + ' AND [T].[AskListable] = @AskListable'
        END
        IF @W_AskDefault IS NOT NULL BEGIN
            SET @Where = @Where + ' AND [T].[AskDefault] = @AskDefault'
        END
        IF @W_AskMinimum IS NOT NULL BEGIN
            SET @Where = @Where + ' AND [T].[AskMinimum] = @AskMinimum'
        END
        IF @W_AskMaximum IS NOT NULL BEGIN
            SET @Where = @Where + ' AND [T].[AskMaximum] = @AskMaximum'
        END
        IF @W_AskInWords IS NOT NULL BEGIN
            SET @Where = @Where + ' AND [T].[AskInWords] = @AskInWords'
        END
        SET @sql = 'INSERT [dbo].[#table]
                        SELECT ''T'' AS [_]
                              ,[T].[Id]
                            FROM [dbo].[Categories] [T]
                                LEFT JOIN [dbo].[#operations] [#] ON [#].[Id] = [T].[Id]
                            WHERE [#].[Id] IS NULL' + @Where + '
                        UNION ALL
                            SELECT ''O'' AS [_]
                                  ,[T].[Id]
                                FROM [dbo].[#operations] [T]
                                WHERE [T].[_] <> ''delete''' + @Where
        CREATE TABLE [dbo].[#table]([_] CHAR(1), [Id] tinyint)
        EXEC sp_executesql @sql
                           ,N'@Id tinyint
                           ,@Name nvarchar(25)
                           ,@AskEncrypted bit
                           ,@AskMask bit
                           ,@AskListable bit
                           ,@AskDefault bit
                           ,@AskMinimum bit
                           ,@AskMaximum bit
                           ,@AskInWords bit'
                           ,@Id = @W_Id
                           ,@Name = @W_Name
                           ,@AskEncrypted = @W_AskEncrypted
                           ,@AskMask = @W_AskMask
                           ,@AskListable = @W_AskListable
                           ,@AskDefault = @W_AskDefault
                           ,@AskMinimum = @W_AskMinimum
                           ,@AskMaximum = @W_AskMaximum
                           ,@AskInWords = @W_AskInWords

        DECLARE @RowCount INT = @@ROWCOUNT
               ,@OffSet INT
               ,@ClassName NVARCHAR(50) = 'Category'

        CREATE UNIQUE INDEX [#unqTable] ON [dbo].[#table]([Id])
        IF @RowCount = 0 OR ISNULL(@PageNumber, 0) = 0 OR ISNULL(@LimitRows, 0) <= 0 BEGIN
            SET @OffSet = 0
            SET @LimitRows = CASE WHEN @RowCount = 0 THEN 1 ELSE @RowCount END
            SET @PageNumber = 1
            SET @MaxPage = 1
        END ELSE BEGIN
            SET @MaxPage = @RowCount / @LimitRows + CASE WHEN @RowCount % @LimitRows = 0 THEN 0 ELSE 1 END
            IF ABS(@PageNumber) > @MaxPage
                SET @PageNumber = CASE WHEN @PageNumber < 0 THEN -@MaxPage ELSE @MaxPage END
            IF @PageNumber < 0
                SET @PageNumber = @MaxPage - ABS(@PageNumber) + 1
            SET @OffSet = (@PageNumber - 1) * @LimitRows
        END
        SET @sql = 'SELECT @ClassName AS [ClassName]
                          ,[T].[Id]
                          ,[T].[Name]
                          ,[T].[HtmlInputType]
                          ,[T].[HtmlInputAlign]
                          ,[T].[AskEncrypted]
                          ,[T].[AskMask]
                          ,[T].[AskListable]
                          ,[T].[AskDefault]
                          ,[T].[AskMinimum]
                          ,[T].[AskMaximum]
                          ,[T].[AskInWords]
                        FROM [dbo].[#table] [#]
                            INNER JOIN [dbo].[Categories] [T] ON [T].[Id] = [#].[Id]
                        WHERE [#].[_] = ''T''
                    UNION ALL
                        SELECT @ClassName AS [ClassName]
                              ,[O].[Id]
                              ,[O].[Name]
                              ,[O].[HtmlInputType]
                              ,[O].[HtmlInputAlign]
                              ,[O].[AskEncrypted]
                              ,[O].[AskMask]
                              ,[O].[AskListable]
                              ,[O].[AskDefault]
                              ,[O].[AskMinimum]
                              ,[O].[AskMaximum]
                              ,[O].[AskInWords]
                            FROM [dbo].[#table] [#]
                                INNER JOIN [dbo].[#operations] [O] ON [O].[Id] = [#].[Id]
                            WHERE [#].[_] = ''O''
                    ORDER BY [Name]
                    OFFSET ' + CAST(@offset AS NVARCHAR(20)) + ' ROWS
                    FETCH NEXT ' + CAST(@LimitRows AS NVARCHAR(20)) + ' ROWS ONLY'
        EXEC sp_executesql @sql,
                           N'@ClassName NVARCHAR(50)',
                           @ClassName = @ClassName

        RETURN @RowCount
    END TRY
    BEGIN CATCH
        SET @ErrorMessage = '[' + ERROR_PROCEDURE() + ']: ' + ERROR_MESSAGE() + ', Line: ' + CAST(ERROR_LINE() AS NVARCHAR(10));
        THROW 51000, @ErrorMessage, 1;
    END CATCH
END
