USE [crudex]
GO
/****** Object:  StoredProcedure [dbo].[DomainsRead]    Script Date: 21/04/2025 06:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DomainsRead](@SessionId BIGINT
                                          ,@RecordFilter NVARCHAR(MAX)
                                          ,@OrderBy NVARCHAR(MAX)
                                          ,@PaddingGridLastPage BIT
                                          ,@IsActionList BIT
                                          ,@PageNumber INT OUT
                                          ,@LimitRows INT OUT
                                          ,@MaxPage INT OUT
										  ,@References NVARCHAR(MAX) OUT
                                          ,@ReturnValue BIGINT OUT) AS BEGIN
    DECLARE @ErrorMessage NVARCHAR(MAX)

    BEGIN TRY
        SET NOCOUNT ON
        SET TRANSACTION ISOLATION LEVEL READ COMMITTED
        IF @SessionId IS NULL
            THROW 51000, 'Valor de @SessionId é requerido', 1
        IF @RecordFilter IS NULL
            SET @RecordFilter = '{}'
        ELSE IF ISJSON(@RecordFilter) = 0
            THROW 51000, 'Valor de @RecordFilter não está no formato JSON', 1
        SET @OrderBy = TRIM(ISNULL(@OrderBy, ''))
        IF @OrderBy = ''
            SET @OrderBy = '[Id]'
        ELSE BEGIN
            SET @OrderBy = REPLACE(REPLACE(@OrderBy, '[', ''), ']', '')
            IF EXISTS(SELECT 1 
                         FROM (SELECT CASE WHEN TRIM(RIGHT([value], 4)) = 'DESC' THEN LEFT(TRIM([value]), LEN(TRIM([value])) - 4)
                                           WHEN TRIM(RIGHT([value], 3)) = 'ASC' THEN LEFT(TRIM([value]), LEN(TRIM([value])) - 3)
                                           ELSE TRIM([value])
                                      END AS [ColumnName]
                                  FROM STRING_SPLIT(@OrderBy, ',')) AS [O]
                                      LEFT JOIN (SELECT [#1].[name] AS ColumnName
                                                    FROM [sys].[columns] [#1]
                                                        INNER JOIN [sys].[tables] [#2] ON [#1].[object_id] = [#2].[object_id]
                                                    WHERE [#2].[name] = 'Domains') AS [T] ON [T].[ColumnName] = [O].[ColumnName]
                         WHERE [T].[ColumnName] IS NULL)
                THROW 51000, 'Nome de coluna em @OrderBy é inválido', 1
            SELECT @OrderBy = STRING_AGG('[' + TRIM(CASE WHEN TRIM(RIGHT([value], 4)) = 'DESC' THEN LEFT(TRIM([value]), LEN(TRIM([value])) - 4)
                                                         WHEN TRIM(RIGHT([value], 3)) = 'ASC' THEN LEFT(TRIM([value]), LEN(TRIM([value])) - 3)
                                                         ELSE TRIM([value])
                                                    END) + '] ' + 
                                                    CASE WHEN TRIM(RIGHT([value], 4)) = 'DESC' THEN 'DESC'
                                                         WHEN TRIM(RIGHT([value], 3)) = 'ASC' THEN 'ASC'
                                                         ELSE 'ASC'
                                                    END, ', ')
                FROM STRING_SPLIT(@OrderBy, ',')
        END

        DECLARE @TransactionId BIGINT = (SELECT MAX([Id]) FROM [dbo].[Transactions] WHERE [SessionId] = @SessionId)

        IF NOT EXISTS(SELECT 1 FROM [dbo].[Transactions] WHERE [Id] = @TransactionId AND [IsConfirmed] IS NULL)
            SET @TransactionId = NULL
        SELECT [Action] AS [_]
              ,CAST(JSON_VALUE([ActualRecord], '$.Id') AS bigint) AS [Id]
              ,CAST(JSON_VALUE([ActualRecord], '$.TypeId') AS tinyint) AS [TypeId]
              ,CAST(JSON_VALUE([ActualRecord], '$.MaskId') AS bigint) AS [MaskId]
              ,CAST(JSON_VALUE([ActualRecord], '$.Name') AS nvarchar(25)) AS [Name]
              ,CAST(JSON_VALUE([ActualRecord], '$.Length') AS smallint) AS [Length]
              ,CAST(JSON_VALUE([ActualRecord], '$.Decimals') AS tinyint) AS [Decimals]
              ,CAST(JSON_VALUE([ActualRecord], '$.ValidValues') AS nvarchar(max)) AS [ValidValues]
              ,CAST(JSON_VALUE([ActualRecord], '$.Default') AS nvarchar(max)) AS [Default]
              ,CAST(JSON_VALUE([ActualRecord], '$.Minimum') AS nvarchar(max)) AS [Minimum]
              ,CAST(JSON_VALUE([ActualRecord], '$.Maximum') AS nvarchar(max)) AS [Maximum]
              ,CAST(JSON_VALUE([ActualRecord], '$.Codification') AS nvarchar(5)) AS [Codification]
            INTO [#tmpOperations]
            FROM [dbo].[Operations]
            WHERE [TransactionId] = @TransactionId
                  AND [TableName] = 'Domains'
                  AND [IsConfirmed] IS NULL
        CREATE UNIQUE INDEX [#tmpOperations] ON [#tmpOperations]([Id])

        DECLARE @_ NVARCHAR(MAX) = (SELECT STRING_AGG(value, ',') FROM OPENJSON(@RecordFilter, '$._'))
               ,@Where NVARCHAR(MAX) = ''
               ,@sql NVARCHAR(MAX)

        IF @_ IS NULL BEGIN
            DECLARE @W_Id bigint = CAST(JSON_VALUE(@RecordFilter, '$.Id') AS bigint)
                   ,@W_TypeId tinyint = CAST(JSON_VALUE(@RecordFilter, '$.TypeId') AS tinyint)
                   ,@W_MaskId bigint = CAST(JSON_VALUE(@RecordFilter, '$.MaskId') AS bigint)
                   ,@W_Name nvarchar(25) = CAST(JSON_VALUE(@RecordFilter, '$.Name') AS nvarchar(25))
                   ,@W_ValidValues nvarchar(max) = CAST(JSON_VALUE(@RecordFilter, '$.ValidValues') AS nvarchar(max))
                   ,@W_Codification nvarchar(5) = CAST(JSON_VALUE(@RecordFilter, '$.Codification') AS nvarchar(5))

            IF @W_Id IS NOT NULL BEGIN
                IF @W_Id < CAST('1' AS bigint)
                    THROW 51000, 'Valor de Id deve ser maior que ou igual a ''1''', 1
                SET @Where = @Where + ' AND [T].[Id] = @Id'
            END
            IF @W_TypeId IS NOT NULL BEGIN
                IF @W_TypeId < CAST('1' AS tinyint)
                    THROW 51000, 'Valor de TypeId deve ser maior que ou igual a ''1''', 1
                SET @Where = @Where + ' AND [T].[TypeId] = @TypeId'
            END
            IF @W_MaskId IS NOT NULL BEGIN
                SET @Where = @Where + ' AND [T].[MaskId] = @MaskId'
            END
            IF @W_Name IS NOT NULL BEGIN
                SET @Where = @Where + ' AND [T].[Name] = @Name'
            END
            IF @W_ValidValues IS NOT NULL BEGIN
                SET @Where = @Where + ' AND [T].[ValidValues] = @ValidValues'
            END
            IF @W_Codification IS NOT NULL BEGIN
                SET @Where = @Where + ' AND [T].[Codification] = @Codification'
            END
        END ELSE
            SET @Where = ' AND [T].[Id] IN (' + @_ + ')'
        SET @sql = 'INSERT [#tmpTable]
                        SELECT ''T'' AS [_]
                              ,[T].[Id]
                            FROM [dbo].[Domains] [T]
                                LEFT JOIN [#tmpOperations] [#] ON [#].[Id] = [T].[Id]
                            WHERE [#].[Id] IS NULL' + @Where + '
                        UNION ALL
                            SELECT ''O'' AS [_]
                                  ,[T].[Id]
                                FROM [#tmpOperations] [T]
                                WHERE [T].[_] <> ''delete''' + @Where
        CREATE TABLE [#tmpTable]([_] CHAR(1), [Id] bigint)
        IF @_ IS NULL
            EXEC sp_executesql @sql
                               ,N'@Id bigint
                               ,@TypeId tinyint
                               ,@MaskId bigint
                               ,@Name nvarchar(25)
                               ,@ValidValues nvarchar(max)
                               ,@Codification nvarchar(5)'
                           ,@Id = @W_Id
                           ,@TypeId = @W_TypeId
                           ,@MaskId = @W_MaskId
                           ,@Name = @W_Name
                           ,@ValidValues = @W_ValidValues
                           ,@Codification = @W_Codification
        ELSE
            EXEC sp_executesql @sql

        DECLARE @RowCount INT = @@ROWCOUNT
               ,@OffSet INT

        CREATE UNIQUE INDEX [#tmpTable] ON [#tmpTable]([Id])
        IF @RowCount = 0 OR ISNULL(@PageNumber, 0) = 0 OR ISNULL(@LimitRows, 0) <= 0 BEGIN
            SET @OffSet = 0
            SET @LimitRows = CASE WHEN @RowCount = 0 THEN 1 ELSE @RowCount END
            SET @PageNumber = 1
            SET @MaxPage = 1
        END ELSE BEGIN
            SET @MaxPage = @RowCount / @LimitRows + CASE WHEN @RowCount % @LimitRows = 0 THEN 0 ELSE 1 END
            IF ABS(@PageNumber) > @MaxPage
                SET @PageNumber = CASE WHEN @PageNumber < 0 THEN -@MaxPage ELSE @MaxPage END
            IF @PageNumber < 0
                SET @PageNumber = @MaxPage - ABS(@PageNumber) + 1
            SET @OffSet = (@PageNumber - 1) * @LimitRows
            IF @PaddingGridLastPage = 1 AND @OffSet + @LimitRows > @RowCount
                SET @OffSet = CASE WHEN @RowCount > @LimitRows THEN @RowCount - @LimitRows ELSE 0 END
        END
        SELECT TOP 0 CAST(NULL AS NVARCHAR(50)) AS [Kind]
                    ,CAST(NULL AS bigint) AS [Id]
                    ,CAST(NULL AS tinyint) AS [TypeId]
                    ,CAST(NULL AS bigint) AS [MaskId]
                    ,CAST(NULL AS nvarchar(25)) AS [Name]
                    ,CAST(NULL AS smallint) AS [Length]
                    ,CAST(NULL AS tinyint) AS [Decimals]
                    ,CAST(NULL AS nvarchar(max)) AS [ValidValues]
                    ,CAST(NULL AS nvarchar(max)) AS [Default]
                    ,CAST(NULL AS nvarchar(max)) AS [Minimum]
                    ,CAST(NULL AS nvarchar(max)) AS [Maximum]
                    ,CAST(NULL AS nvarchar(5)) AS [Codification]
            INTO [#result]
        SET @sql = 'INSERT #result
                        SELECT ''Domain'' AS [Kind]
                              ,[T].[Id]
                              ,[T].[TypeId]
                              ,[T].[MaskId]
                              ,[T].[Name]
                              ,[T].[Length]
                              ,[T].[Decimals]
                              ,[T].[ValidValues]
                              ,[T].[Default]
                              ,[T].[Minimum]
                              ,[T].[Maximum]
                              ,[T].[Codification]
                            FROM [#tmpTable] [#]
                                INNER JOIN [dbo].[Domains] [T] ON [T].[Id] = [#].[Id]
                            WHERE [#].[_] = ''T''
                        UNION ALL
                            SELECT ''Domain'' AS [Kind]
                                  ,[O].[Id]
                                  ,[O].[TypeId]
                                  ,[O].[MaskId]
                                  ,[O].[Name]
                                  ,[O].[Length]
                                  ,[O].[Decimals]
                                  ,[O].[ValidValues]
                                  ,[O].[Default]
                                  ,[O].[Minimum]
                                  ,[O].[Maximum]
                                  ,[O].[Codification]
                                FROM [#tmpTable] [#]
                                    INNER JOIN [#tmpOperations] [O] ON [O].[Id] = [#].[Id]
                                WHERE [#].[_] = ''O''
                        ORDER BY ' + @OrderBy + '
                        OFFSET ' + CAST(@offset AS NVARCHAR(20)) + ' ROWS
                        FETCH NEXT ' + CAST(@LimitRows AS NVARCHAR(20)) + ' ROWS ONLY'
        EXEC sp_executesql @sql
        SELECT DISTINCT 'Type' AS ClassName
              ,[R].[Id]
              ,[R].[CategoryId]
              ,[R].[Name]
              ,[R].[MaxLength]
              ,[R].[Minimum]
              ,[R].[Maximum]
              ,[R].[AskLength]
              ,[R].[AskDecimals]
              ,[R].[AskPrimarykey]
              ,[R].[AskAutoincrement]
              ,[R].[AskFilterable]
              ,[R].[AskGridable]
              ,[R].[AskCodification]
              ,[R].[IsLikeable]
              ,[R].[IsActive]
            INTO [#Types]
            FROM [#result] [T]
                INNER JOIN [dbo].[Types] [R] ON [R].[Id] = [T].[TypeId]
            ORDER BY [R].[Id]
        CREATE UNIQUE INDEX [#Types] ON [#Types](Id)
        SELECT DISTINCT 'Category' AS ClassName
              ,[R].[Id]
              ,[R].[Name]
              ,[R].[HtmlInputType]
              ,[R].[HtmlInputAlign]
              ,[R].[AskEncrypted]
              ,[R].[AskMask]
              ,[R].[AskListable]
              ,[R].[AskDefault]
              ,[R].[AskMinimum]
              ,[R].[AskMaximum]
              ,[R].[AskInWords]
            INTO [#Categories]
            FROM [#Types] [T]
                INNER JOIN [dbo].[Categories] [R] ON [R].[Id] = [T].[CategoryId]
            ORDER BY [R].[Id]
        CREATE UNIQUE INDEX [#Categories] ON [#Categories](Id)
        SELECT DISTINCT 'Mask' AS ClassName
              ,[R].[Id]
              ,[R].[Name]
              ,[R].[Mask]
            INTO [#Masks]
            FROM [#result] [T]
                INNER JOIN [dbo].[Masks] [R] ON [R].[Id] = [T].[MaskId]
            ORDER BY [R].[Id]
        CREATE UNIQUE INDEX [#Masks] ON [#Masks](Id)
        SET @References = (SELECT
                COALESCE((SELECT * FROM [#Types]      FOR JSON PATH, INCLUDE_NULL_VALUES), '[]') AS [Types],
                COALESCE((SELECT * FROM [#Categories] FOR JSON PATH, INCLUDE_NULL_VALUES), '[]') AS [Categories],
                COALESCE((SELECT * FROM [#Masks]      FOR JSON PATH, INCLUDE_NULL_VALUES), '[]') AS [Masks]
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        );
		SET @References = (SELECT (SELECT * FROM [#Types] FOR JSON PATH, INCLUDE_NULL_VALUES) AS [Types],
								  (SELECT * FROM [#Categories] FOR JSON PATH, INCLUDE_NULL_VALUES) AS [Categories],
								  (SELECT * FROM [#Masks] FOR JSON PATH, INCLUDE_NULL_VALUES) AS [Masks]
								FOR JSON PATH, WITHOUT_ARRAY_WRAPPER)
        SET @ReturnValue = @RowCount
        SELECT [Kind]
              ,[Id]
              ,[TypeId]
              ,[MaskId]
              ,[Name]
              ,[Name] AS [ListItemValue]
              ,[Length]
              ,[Decimals]
              ,[ValidValues]
              ,[Default]
              ,[Minimum]
              ,[Maximum]
              ,[Codification]
            FROM [#result]

        RETURN 0
    END TRY
    BEGIN CATCH
        SET @ErrorMessage = '[' + ERROR_PROCEDURE() + ']: ' + ERROR_MESSAGE() + ', Line: ' + CAST(ERROR_LINE() AS NVARCHAR(10));
        THROW 51000, @ErrorMessage, 1;
    END CATCH
END
