IF(SELECT object_id('[cruda].[ColumnValidate]', 'P')) IS NULL
	EXEC('CREATE PROCEDURE [cruda].[ColumnValidate] AS PRINT 1')
GO
ALTER PROCEDURE[cruda].[ColumnValidate](@LoginId BIGINT
										,@UserName VARCHAR(25)
										,@Action VARCHAR(15)
										,@LastRecord VARCHAR(MAX)
										,@ActualRecord VARCHAR(MAX)) AS BEGIN
	BEGIN TRY
		SET NOCOUNT ON
		SET TRANSACTION ISOLATION LEVEL READ COMMITTED

		DECLARE @ErrorMessage VARCHAR(255) = 'Stored Procedure [ColumnValidate]: '

		IF @LoginId IS NULL BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Valor de @LoginId é requerido';
			THROW 51000, @ErrorMessage, 1
		END
		IF @Action IS NULL BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Valor de @Action é requerido';
			THROW 51000, @ErrorMessage, 1
		END
		IF @Action NOT IN ('create', 'update', 'delete') BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Valor de @Action é inválido';
			THROW 51000, @ErrorMessage, 1
		END
		IF @ActualRecord IS NULL BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Valor de @ActualRecord requerido';
			THROW 51000, @ErrorMessage, 1
		END
		IF ISJSON(@ActualRecord) = 0 BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Valor de @ActualRecord não está no formato JSON';
			THROW 51000, @ErrorMessage, 1
		END
		IF @Action <> 'create' BEGIN
			IF @LastRecord IS NULL BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de @LastRecord requerido';
				THROW 51000, @ErrorMessage, 1
			END
			IF ISJSON(@LastRecord) = 0 BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de @LastRecord não está no formato JSON';
				THROW 51000, @ErrorMessage, 1
			END
			IF @Action = 'update' 
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.Id') AS bigint), CAST(JSON_VALUE(@LastRecord, '$.Id') AS bigint)) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.TableId') AS bigint), CAST(JSON_VALUE(@LastRecord, '$.TableId') AS bigint)) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.Sequence') AS smallint), CAST(JSON_VALUE(@LastRecord, '$.Sequence') AS smallint)) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.DomainId') AS bigint), CAST(JSON_VALUE(@LastRecord, '$.DomainId') AS bigint)) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.ReferenceTableId') AS bigint), CAST(JSON_VALUE(@LastRecord, '$.ReferenceTableId') AS bigint)) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.Name') AS varchar(25)), CAST(JSON_VALUE(@LastRecord, '$.Name') AS varchar(25))) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.Description') AS varchar(50)), CAST(JSON_VALUE(@LastRecord, '$.Description') AS varchar(50))) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.Title') AS varchar(25)), CAST(JSON_VALUE(@LastRecord, '$.Title') AS varchar(25))) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.Caption') AS varchar(25)), CAST(JSON_VALUE(@LastRecord, '$.Caption') AS varchar(25))) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.ValidValues') AS varchar(25)), CAST(JSON_VALUE(@LastRecord, '$.ValidValues') AS varchar(25))) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.Default') AS sql_variant), CAST(JSON_VALUE(@LastRecord, '$.Default') AS sql_variant)) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.Minimum') AS sql_variant), CAST(JSON_VALUE(@LastRecord, '$.Minimum') AS sql_variant)) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.Maximum') AS sql_variant), CAST(JSON_VALUE(@LastRecord, '$.Maximum') AS sql_variant)) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.IsPrimarykey') AS bit), CAST(JSON_VALUE(@LastRecord, '$.IsPrimarykey') AS bit)) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.IsAutoIncrement') AS bit), CAST(JSON_VALUE(@LastRecord, '$.IsAutoIncrement') AS bit)) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.IsRequired') AS bit), CAST(JSON_VALUE(@LastRecord, '$.IsRequired') AS bit)) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.IsListable') AS bit), CAST(JSON_VALUE(@LastRecord, '$.IsListable') AS bit)) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.IsFilterable') AS bit), CAST(JSON_VALUE(@LastRecord, '$.IsFilterable') AS bit)) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.IsEditable') AS bit), CAST(JSON_VALUE(@LastRecord, '$.IsEditable') AS bit)) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.IsBrowseable') AS bit), CAST(JSON_VALUE(@LastRecord, '$.IsBrowseable') AS bit)) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.IsEncrypted') AS bit), CAST(JSON_VALUE(@LastRecord, '$.IsEncrypted') AS bit)) = 1
				AND [dbo].[IsEquals](CAST(JSON_VALUE(@ActualRecord, '$.IsCalculated') AS bit), CAST(JSON_VALUE(@LastRecord, '$.IsCalculated') AS bit)) = 1
				RETURN 0
			IF NOT EXISTS(SELECT 1
							FROM [dbo].[Columns]
							WHERE [dbo].[IsEquals]([Id], CAST(JSON_VALUE(@LastRecord, '$.Id') AS bigint)) = 1
									AND [dbo].[IsEquals]([TableId], CAST(JSON_VALUE(@LastRecord, '$.TableId') AS bigint)) = 1
									AND [dbo].[IsEquals]([Sequence], CAST(JSON_VALUE(@LastRecord, '$.Sequence') AS smallint)) = 1
									AND [dbo].[IsEquals]([DomainId], CAST(JSON_VALUE(@LastRecord, '$.DomainId') AS bigint)) = 1
									AND [dbo].[IsEquals]([ReferenceTableId], CAST(JSON_VALUE(@LastRecord, '$.ReferenceTableId') AS bigint)) = 1
									AND [dbo].[IsEquals]([Name], CAST(JSON_VALUE(@LastRecord, '$.Name') AS varchar(25))) = 1
									AND [dbo].[IsEquals]([Description], CAST(JSON_VALUE(@LastRecord, '$.Description') AS varchar(50))) = 1
									AND [dbo].[IsEquals]([Title], CAST(JSON_VALUE(@LastRecord, '$.Title') AS varchar(25))) = 1
									AND [dbo].[IsEquals]([Caption], CAST(JSON_VALUE(@LastRecord, '$.Caption') AS varchar(25))) = 1
									AND [dbo].[IsEquals]([ValidValues], CAST(JSON_VALUE(@LastRecord, '$.ValidValues') AS varchar(25))) = 1
									AND [dbo].[IsEquals]([Default], CAST(JSON_VALUE(@LastRecord, '$.Default') AS sql_variant)) = 1
									AND [dbo].[IsEquals]([Minimum], CAST(JSON_VALUE(@LastRecord, '$.Minimum') AS sql_variant)) = 1
									AND [dbo].[IsEquals]([Maximum], CAST(JSON_VALUE(@LastRecord, '$.Maximum') AS sql_variant)) = 1
									AND [dbo].[IsEquals]([IsPrimarykey], CAST(JSON_VALUE(@LastRecord, '$.IsPrimarykey') AS bit)) = 1
									AND [dbo].[IsEquals]([IsAutoIncrement], CAST(JSON_VALUE(@LastRecord, '$.IsAutoIncrement') AS bit)) = 1
									AND [dbo].[IsEquals]([IsRequired], CAST(JSON_VALUE(@LastRecord, '$.IsRequired') AS bit)) = 1
									AND [dbo].[IsEquals]([IsListable], CAST(JSON_VALUE(@LastRecord, '$.IsListable') AS bit)) = 1
									AND [dbo].[IsEquals]([IsFilterable], CAST(JSON_VALUE(@LastRecord, '$.IsFilterable') AS bit)) = 1
									AND [dbo].[IsEquals]([IsEditable], CAST(JSON_VALUE(@LastRecord, '$.IsEditable') AS bit)) = 1
									AND [dbo].[IsEquals]([IsBrowseable], CAST(JSON_VALUE(@LastRecord, '$.IsBrowseable') AS bit)) = 1
									AND [dbo].[IsEquals]([IsEncrypted], CAST(JSON_VALUE(@LastRecord, '$.IsEncrypted') AS bit)) = 1
									AND [dbo].[IsEquals]([IsCalculated], CAST(JSON_VALUE(@LastRecord, '$.IsCalculated') AS bit)) = 1) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Registro de Columns alterado por outro usuário';
				THROW 51000, @ErrorMessage, 1
			END
		END

		DECLARE @TransactionId INT
				,@IsConfirmed BIT
				,@CreatedBy VARCHAR(25)

		SELECT @TransactionId = [Id]
				,@IsConfirmed = [IsConfirmed]
				,@CreatedBy = [CreatedBy]
			FROM [cruda].[Transactions]
			WHERE [Id] = (SELECT MAX([Id]) FROM [cruda].[Transactions] WHERE [LoginId] = @LoginId)
		IF @@ROWCOUNT = 0 BEGIN
            SET @ErrorMessage = @ErrorMessage + 'Não existe transação para o @LoginId informado';
            THROW 51000, @ErrorMessage, 1
		END
		IF @IsConfirmed IS NOT NULL BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Transação já ' + CASE WHEN @IsConfirmed = 0 THEN 'cancelada' ELSE 'concluída' END;
			THROW 51000, @ErrorMessage, 1
		END
		IF @UserName <> @CreatedBy BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Erro grave de segurança';
			THROW 51000, @ErrorMessage, 1
		END

		DECLARE @W_Id bigint = CAST(JSON_VALUE(@ActualRecord, '$.Id') AS bigint)

		IF @W_Id IS NULL BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Valor de Id em @ActualRecord é requerido.';
			THROW 51000, @ErrorMessage, 1
		END
		IF @W_Id < CAST('1' AS bigint) BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Valor de Id em @ActualRecord deve ser maior que ou igual à 1';
			THROW 51000, @ErrorMessage, 1
		END
		IF @W_Id > CAST('9007199254740990' AS bigint) BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Valor de Id em @ActualRecord deve ser menor que ou igual à 9007199254740990';
			THROW 51000, @ErrorMessage, 1
		END
		IF EXISTS(SELECT 1 FROM [dbo].[Columns] WHERE Id = @W_Id) BEGIN
			IF @Action = 'create' BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Chave-primária já existe na tabela Columns';
				THROW 51000, @ErrorMessage, 1
			END
		END ELSE IF @Action <> 'create' BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Chave-primária não existe na tabela Columns';
			THROW 51000, @ErrorMessage, 1
		END
		IF @Action = 'delete' BEGIN
			IF EXISTS(SELECT 1 FROM [dbo].[Indexkeys] WHERE [ColumnId] = @W_Id) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Chave-primária referenciada na tabela Indexkeys';
				THROW 51000, @ErrorMessage, 1
			END
		END ELSE BEGIN

			DECLARE @W_TableId bigint = CAST(JSON_VALUE(@ActualRecord, '$.TableId') AS bigint)
					,@W_Sequence smallint = CAST(JSON_VALUE(@ActualRecord, '$.Sequence') AS smallint)
					,@W_DomainId bigint = CAST(JSON_VALUE(@ActualRecord, '$.DomainId') AS bigint)
					,@W_ReferenceTableId bigint = CAST(JSON_VALUE(@ActualRecord, '$.ReferenceTableId') AS bigint)
					,@W_Name varchar(25) = CAST(JSON_VALUE(@ActualRecord, '$.Name') AS varchar(25))
					,@W_Description varchar(50) = CAST(JSON_VALUE(@ActualRecord, '$.Description') AS varchar(50))
					,@W_Title varchar(25) = CAST(JSON_VALUE(@ActualRecord, '$.Title') AS varchar(25))
					,@W_Caption varchar(25) = CAST(JSON_VALUE(@ActualRecord, '$.Caption') AS varchar(25))
					,@W_ValidValues varchar(MAX) = CAST(JSON_VALUE(@ActualRecord, '$.ValidValues') AS varchar(MAX))
					,@W_Default sql_variant = CAST(JSON_VALUE(@ActualRecord, '$.Default') AS sql_variant)
					,@W_Minimum sql_variant = CAST(JSON_VALUE(@ActualRecord, '$.Minimum') AS sql_variant)
					,@W_Maximum sql_variant = CAST(JSON_VALUE(@ActualRecord, '$.Maximum') AS sql_variant)
					,@W_IsPrimarykey bit = CAST(JSON_VALUE(@ActualRecord, '$.IsPrimarykey') AS bit)
					,@W_IsAutoIncrement bit = CAST(JSON_VALUE(@ActualRecord, '$.IsAutoIncrement') AS bit)
					,@W_IsRequired bit = CAST(JSON_VALUE(@ActualRecord, '$.IsRequired') AS bit)
					,@W_IsListable bit = CAST(JSON_VALUE(@ActualRecord, '$.IsListable') AS bit)
					,@W_IsFilterable bit = CAST(JSON_VALUE(@ActualRecord, '$.IsFilterable') AS bit)
					,@W_IsEditable bit = CAST(JSON_VALUE(@ActualRecord, '$.IsEditable') AS bit)
					,@W_IsBrowseable bit = CAST(JSON_VALUE(@ActualRecord, '$.IsBrowseable') AS bit)
					,@W_IsEncrypted bit = CAST(JSON_VALUE(@ActualRecord, '$.IsEncrypted') AS bit)
					,@W_IsCalculated bit = CAST(JSON_VALUE(@ActualRecord, '$.IsCalculated') AS bit)

			IF @W_TableId IS NULL BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de TableId em @ActualRecord é requerido';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_TableId < CAST('1' AS bigint) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de TableId em @ActualRecord deve ser maior que ou igual à 1';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_TableId > CAST('9007199254740990' AS bigint) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de TableId em @ActualRecord deve ser menor que ou igual à 9007199254740990';
				THROW 51000, @ErrorMessage, 1
			END
			IF NOT EXISTS(SELECT 1 FROM [dbo].[Tables] WHERE [Id] = @W_TableId) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de TableId em @ActualRecord não existe na tabela Tables';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_Sequence IS NULL BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de Sequence em @ActualRecord é requerido';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_Sequence < CAST('1' AS smallint) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de Sequence em @ActualRecord deve ser maior que ou igual à 1';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_Sequence > CAST('32767' AS smallint) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de Sequence em @ActualRecord deve ser menor que ou igual à 32767';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_DomainId IS NULL BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de DomainId em @ActualRecord é requerido';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_DomainId < CAST('1' AS bigint) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de DomainId em @ActualRecord deve ser maior que ou igual à 1';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_DomainId > CAST('9007199254740990' AS bigint) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de DomainId em @ActualRecord deve ser menor que ou igual à 9007199254740990';
				THROW 51000, @ErrorMessage, 1
			END
			IF NOT EXISTS(SELECT 1 FROM [dbo].[Domains] WHERE [Id] = @W_DomainId) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de DomainId em @ActualRecord não existe na tabela Domains';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_ReferenceTableId IS NOT NULL AND @W_ReferenceTableId < CAST('1' AS bigint) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de ReferenceTableId em @ActualRecord deve ser maior que ou igual à 1';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_ReferenceTableId IS NOT NULL AND @W_ReferenceTableId > CAST('9007199254740990' AS bigint) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de ReferenceTableId em @ActualRecord deve ser menor que ou igual à 9007199254740990';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_ReferenceTableId IS NOT NULL AND NOT EXISTS(SELECT 1 FROM [dbo].[Tables] WHERE [Id] = @W_ReferenceTableId) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de ReferenceTableId em @ActualRecord não existe na tabela Tables';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_Name IS NULL BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de Name em @ActualRecord é requerido';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_Description IS NULL BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de Description em @ActualRecord é requerido';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_Title IS NULL BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de Title em @ActualRecord é requerido';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_Caption IS NULL BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de Caption em @ActualRecord é requerido';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_IsRequired IS NULL BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de IsRequired em @ActualRecord é requerido';
				THROW 51000, @ErrorMessage, 1
			END
			IF @Action = 'create' BEGIN
				IF EXISTS(SELECT 1 FROM [dbo].[Columns] WHERE [TableId] = @W_TableId AND [Name] = @W_Name) BEGIN
					SET @ErrorMessage = @ErrorMessage + 'Chave única de UNQ_Columns_Table_Name já existe';
					THROW 51000, @ErrorMessage, 1
				END
				IF EXISTS(SELECT 1 FROM [dbo].[Columns] WHERE [TableId] = @W_TableId AND [Sequence] = @W_Sequence) BEGIN
					SET @ErrorMessage = @ErrorMessage + 'Chave única de UNQ_Columns_Table_Sequence já existe';
					THROW 51000, @ErrorMessage, 1
				END
			END ELSE IF EXISTS(SELECT 1 FROM [dbo].[Columns] WHERE [TableId] = @W_TableId AND [Sequence] = @W_Sequence AND [Id] <> @W_Id) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Chave única de UNQ_Columns_Table_Sequence já existe';
				THROW 51000, @ErrorMessage, 1
			END ELSE IF EXISTS(SELECT 1 FROM [dbo].[Columns] WHERE [TableId] = @W_TableId AND [Name] = @W_Name AND [Id] <> @W_Id) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Chave única de UNQ_Columns_Table_Name já existe';
				THROW 51000, @ErrorMessage, 1
			END
		END

		RETURN @TransactionId
	END TRY
	BEGIN CATCH
		THROW
	END CATCH
END
GO
