IF(SELECT object_id('[dbo].[ColumnValidate]', 'P')) IS NULL
	EXEC('CREATE PROCEDURE [dbo].[ColumnValidate] AS PRINT 1')
GO
ALTER PROCEDURE[dbo].[ColumnValidate](@LoginId BIGINT
									 ,@UserName VARCHAR(25)
									 ,@Action VARCHAR(15)
									 ,@LastRecord VARCHAR(MAX)
									 ,@ActualRecord VARCHAR(MAX)) AS BEGIN
	BEGIN TRY
		SET NOCOUNT ON
		SET TRANSACTION ISOLATION LEVEL READ COMMITTED

		DECLARE @ErrorMessage VARCHAR(255) = 'Stored Procedure [ColumnValidate]: '

		IF @LoginId IS NULL BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Valor de @LoginId é requerido';
			THROW 51000, @ErrorMessage, 1
		END
		IF @UserName IS NULL BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Valor de @UserName é requerido';
			THROW 51000, @ErrorMessage, 1
		END
		IF @Action IS NULL BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Valor de @Action é requerido';
			THROW 51000, @ErrorMessage, 1
		END
		IF @Action NOT IN ('create', 'update', 'delete') BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Valor de @Action é inválido';
			THROW 51000, @ErrorMessage, 1
		END
		IF @ActualRecord IS NULL BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Valor de @ActualRecord requerido';
			THROW 51000, @ErrorMessage, 1
		END
		IF ISJSON(@ActualRecord) = 0 BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Valor de @ActualRecord não está no formato JSON';
			THROW 51000, @ErrorMessage, 1
		END
		IF @Action <> 'create' BEGIN
			IF @LastRecord IS NULL BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de @LastRecord requerido';
				THROW 51000, @ErrorMessage, 1
			END
			IF ISJSON(@LastRecord) = 0 BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de @LastRecord não está no formato JSON';
				THROW 51000, @ErrorMessage, 1
			END
			IF @Action = 'update' 
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Id') AS bigint), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.Id') AS bigint)) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.TableId') AS bigint), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.TableId') AS bigint)) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Sequence') AS smallint), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.Sequence') AS smallint)) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.DomainId') AS bigint), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.DomainId') AS bigint)) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.ReferenceTableId') AS bigint), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.ReferenceTableId') AS bigint)) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Name') AS varchar(25)), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.Name') AS varchar(25))) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Description') AS varchar(50)), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.Description') AS varchar(50))) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Title') AS varchar(25)), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.Title') AS varchar(25))) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Caption') AS varchar(25)), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.Caption') AS varchar(25))) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.ValidValues') AS varchar(25)), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.ValidValues') AS varchar(25))) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Default') AS sql_variant), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.Default') AS sql_variant)) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Minimum') AS sql_variant), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.Minimum') AS sql_variant)) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Maximum') AS sql_variant), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.Maximum') AS sql_variant)) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsPrimarykey') AS bit), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.IsPrimarykey') AS bit)) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsAutoIncrement') AS bit), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.IsAutoIncrement') AS bit)) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsRequired') AS bit), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.IsRequired') AS bit)) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsListable') AS bit), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.IsListable') AS bit)) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsFilterable') AS bit), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.IsFilterable') AS bit)) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsEditable') AS bit), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.IsEditable') AS bit)) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsGridable') AS bit), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.IsGridable') AS bit)) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsEncrypted') AS bit), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.IsEncrypted') AS bit)) = 1
				AND [cruda].[IS_EQUAL](CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsCalculated') AS bit), CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.IsCalculated') AS bit)) = 1
				RETURN 0
			IF NOT EXISTS(SELECT 1
							FROM [dbo].[Columns]
							WHERE [cruda].[IS_EQUAL]([Id], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.Id') AS bigint)) = 1
									AND [cruda].[IS_EQUAL]([TableId], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.TableId') AS bigint)) = 1
									AND [cruda].[IS_EQUAL]([Sequence], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.Sequence') AS smallint)) = 1
									AND [cruda].[IS_EQUAL]([DomainId], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.DomainId') AS bigint)) = 1
									AND [cruda].[IS_EQUAL]([ReferenceTableId], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.ReferenceTableId') AS bigint)) = 1
									AND [cruda].[IS_EQUAL]([Name], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.Name') AS varchar(25))) = 1
									AND [cruda].[IS_EQUAL]([Description], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.Description') AS varchar(50))) = 1
									AND [cruda].[IS_EQUAL]([Title], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.Title') AS varchar(25))) = 1
									AND [cruda].[IS_EQUAL]([Caption], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.Caption') AS varchar(25))) = 1
									AND [cruda].[IS_EQUAL]([ValidValues], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.ValidValues') AS varchar(25))) = 1
									AND [cruda].[IS_EQUAL]([Default], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.Default') AS sql_variant)) = 1
									AND [cruda].[IS_EQUAL]([Minimum], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.Minimum') AS sql_variant)) = 1
									AND [cruda].[IS_EQUAL]([Maximum], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.Maximum') AS sql_variant)) = 1
									AND [cruda].[IS_EQUAL]([IsPrimarykey], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.IsPrimarykey') AS bit)) = 1
									AND [cruda].[IS_EQUAL]([IsAutoIncrement], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.IsAutoIncrement') AS bit)) = 1
									AND [cruda].[IS_EQUAL]([IsRequired], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.IsRequired') AS bit)) = 1
									AND [cruda].[IS_EQUAL]([IsListable], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.IsListable') AS bit)) = 1
									AND [cruda].[IS_EQUAL]([IsFilterable], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.IsFilterable') AS bit)) = 1
									AND [cruda].[IS_EQUAL]([IsEditable], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.IsEditable') AS bit)) = 1
									AND [cruda].[IS_EQUAL]([IsGridable], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.IsGridable') AS bit)) = 1
									AND [cruda].[IS_EQUAL]([IsEncrypted], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.IsEncrypted') AS bit)) = 1
									AND [cruda].[IS_EQUAL]([IsCalculated], CAST([cruda].[JSON_EXTRACT](@LastRecord, '$.IsCalculated') AS bit)) = 1) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Registro de Columns alterado por outro usuário';
				THROW 51000, @ErrorMessage, 1
			END
		END

		DECLARE @TransactionId INT
				,@IsConfirmed BIT
				,@CreatedBy VARCHAR(25)

		SELECT @TransactionId = [Id]
				,@IsConfirmed = [IsConfirmed]
				,@CreatedBy = [CreatedBy]
			FROM [cruda].[Transactions]
			WHERE [Id] = (SELECT MAX([Id]) FROM [cruda].[Transactions] WHERE [LoginId] = @LoginId)
		IF @@ROWCOUNT = 0 BEGIN
            SET @ErrorMessage = @ErrorMessage + 'Não existe transação para o @LoginId informado';
            THROW 51000, @ErrorMessage, 1
		END
		IF @IsConfirmed IS NOT NULL BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Transação já ' + CASE WHEN @IsConfirmed = 0 THEN 'cancelada' ELSE 'concluída' END;
			THROW 51000, @ErrorMessage, 1
		END
		IF @UserName <> @CreatedBy BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Erro grave de segurança';
			THROW 51000, @ErrorMessage, 1
		END

		DECLARE @W_Id bigint = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Id') AS bigint)

		IF @W_Id IS NULL BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Valor de Id em @ActualRecord é requerido.';
			THROW 51000, @ErrorMessage, 1
		END
		IF @W_Id < CAST('1' AS bigint) BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Valor de Id em @ActualRecord deve ser maior que ou igual à 1';
			THROW 51000, @ErrorMessage, 1
		END
		IF @W_Id > CAST('9007199254740990' AS bigint) BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Valor de Id em @ActualRecord deve ser menor que ou igual à 9007199254740990';
			THROW 51000, @ErrorMessage, 1
		END
		IF EXISTS(SELECT 1 FROM [dbo].[Columns] WHERE Id = @W_Id) BEGIN
			IF @Action = 'create' BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Chave-primária já existe na tabela Columns';
				THROW 51000, @ErrorMessage, 1
			END
		END ELSE IF @Action <> 'create' BEGIN
			SET @ErrorMessage = @ErrorMessage + 'Chave-primária não existe na tabela Columns';
			THROW 51000, @ErrorMessage, 1
		END
		IF @Action = 'delete' BEGIN
			IF EXISTS(SELECT 1 FROM [dbo].[Indexkeys] WHERE [ColumnId] = @W_Id) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Chave-primária referenciada na tabela Indexkeys';
				THROW 51000, @ErrorMessage, 1
			END
		END ELSE BEGIN

			DECLARE @W_TableId bigint = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.TableId') AS bigint)
					,@W_Sequence smallint = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Sequence') AS smallint)
					,@W_DomainId bigint = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.DomainId') AS bigint)
					,@W_ReferenceTableId bigint = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.ReferenceTableId') AS bigint)
					,@W_Name varchar(25) = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Name') AS varchar(25))
					,@W_Description varchar(50) = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Description') AS varchar(50))
					,@W_Title varchar(25) = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Title') AS varchar(25))
					,@W_Caption varchar(25) = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Caption') AS varchar(25))
					,@W_ValidValues varchar(MAX) = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.ValidValues') AS varchar(MAX))
					,@W_Default sql_variant = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Default') AS sql_variant)
					,@W_Minimum sql_variant = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Minimum') AS sql_variant)
					,@W_Maximum sql_variant = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Maximum') AS sql_variant)
					,@W_IsPrimarykey bit = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsPrimarykey') AS bit)
					,@W_IsAutoIncrement bit = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsAutoIncrement') AS bit)
					,@W_IsRequired bit = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsRequired') AS bit)
					,@W_IsListable bit = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsListable') AS bit)
					,@W_IsFilterable bit = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsFilterable') AS bit)
					,@W_IsEditable bit = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsEditable') AS bit)
					,@W_IsGridable bit = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsGridable') AS bit)
					,@W_IsEncrypted bit = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsEncrypted') AS bit)
					,@W_IsCalculated bit = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsCalculated') AS bit)

			IF @W_TableId IS NULL BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de TableId em @ActualRecord é requerido';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_TableId < CAST('1' AS bigint) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de TableId em @ActualRecord deve ser maior que ou igual à 1';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_TableId > CAST('9007199254740990' AS bigint) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de TableId em @ActualRecord deve ser menor que ou igual à 9007199254740990';
				THROW 51000, @ErrorMessage, 1
			END
			IF NOT EXISTS(SELECT 1 FROM [dbo].[Tables] WHERE [Id] = @W_TableId) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de TableId em @ActualRecord não existe na tabela Tables';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_Sequence IS NULL BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de Sequence em @ActualRecord é requerido';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_Sequence < CAST('1' AS smallint) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de Sequence em @ActualRecord deve ser maior que ou igual à 1';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_Sequence > CAST('32767' AS smallint) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de Sequence em @ActualRecord deve ser menor que ou igual à 32767';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_DomainId IS NULL BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de DomainId em @ActualRecord é requerido';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_DomainId < CAST('1' AS bigint) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de DomainId em @ActualRecord deve ser maior que ou igual à 1';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_DomainId > CAST('9007199254740990' AS bigint) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de DomainId em @ActualRecord deve ser menor que ou igual à 9007199254740990';
				THROW 51000, @ErrorMessage, 1
			END
			IF NOT EXISTS(SELECT 1 FROM [dbo].[Domains] WHERE [Id] = @W_DomainId) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de DomainId em @ActualRecord não existe na tabela Domains';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_ReferenceTableId IS NOT NULL AND @W_ReferenceTableId < CAST('1' AS bigint) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de ReferenceTableId em @ActualRecord deve ser maior que ou igual à 1';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_ReferenceTableId IS NOT NULL AND @W_ReferenceTableId > CAST('9007199254740990' AS bigint) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de ReferenceTableId em @ActualRecord deve ser menor que ou igual à 9007199254740990';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_ReferenceTableId IS NOT NULL AND NOT EXISTS(SELECT 1 FROM [dbo].[Tables] WHERE [Id] = @W_ReferenceTableId) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de ReferenceTableId em @ActualRecord não existe na tabela Tables';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_Name IS NULL BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de Name em @ActualRecord é requerido';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_Description IS NULL BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de Description em @ActualRecord é requerido';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_Title IS NULL BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de Title em @ActualRecord é requerido';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_Caption IS NULL BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de Caption em @ActualRecord é requerido';
				THROW 51000, @ErrorMessage, 1
			END
			IF @W_IsRequired IS NULL BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Valor de IsRequired em @ActualRecord é requerido';
				THROW 51000, @ErrorMessage, 1
			END
			IF @Action = 'create' BEGIN
				IF EXISTS(SELECT 1 FROM [dbo].[Columns] WHERE [TableId] = @W_TableId AND [Name] = @W_Name) BEGIN
					SET @ErrorMessage = @ErrorMessage + 'Chave única de UNQ_Columns_Table_Name já existe';
					THROW 51000, @ErrorMessage, 1
				END
				IF EXISTS(SELECT 1 FROM [dbo].[Columns] WHERE [TableId] = @W_TableId AND [Sequence] = @W_Sequence) BEGIN
					SET @ErrorMessage = @ErrorMessage + 'Chave única de UNQ_Columns_Table_Sequence já existe';
					THROW 51000, @ErrorMessage, 1
				END
			END ELSE IF EXISTS(SELECT 1 FROM [dbo].[Columns] WHERE [TableId] = @W_TableId AND [Sequence] = @W_Sequence AND [Id] <> @W_Id) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Chave única de UNQ_Columns_Table_Sequence já existe';
				THROW 51000, @ErrorMessage, 1
			END ELSE IF EXISTS(SELECT 1 FROM [dbo].[Columns] WHERE [TableId] = @W_TableId AND [Name] = @W_Name AND [Id] <> @W_Id) BEGIN
				SET @ErrorMessage = @ErrorMessage + 'Chave única de UNQ_Columns_Table_Name já existe';
				THROW 51000, @ErrorMessage, 1
			END
		END

		RETURN @TransactionId
	END TRY
	BEGIN CATCH
		THROW
	END CATCH
END
GO
