IF(SELECT object_id('[dbo].[ColumnValidate]', 'P')) IS NULL
	EXEC('CREATE PROCEDURE [dbo].[ColumnValidate] AS PRINT 1')
GO
ALTER PROCEDURE[dbo].[ColumnValidate](@LoginId INT
                                     ,@UserName NVARCHAR(25)
                                     ,@Action NVARCHAR(15)
                                     ,@LastRecord NVARCHAR(MAX)
                                     ,@ActualRecord NVARCHAR(MAX)) AS BEGIN
    DECLARE @ErrorMessage NVARCHAR(MAX)

    BEGIN TRY
        SET NOCOUNT ON
        SET TRANSACTION ISOLATION LEVEL READ COMMITTED

        IF @LoginId IS NULL
            THROW 51000, 'Valor de @LoginId é requerido', 1
        IF @Action IS NULL
            THROW 51000, 'Valor de @Action é requerido', 1
        IF @Action NOT IN ('create', 'update', 'delete')
            THROW 51000, 'Valor de @Action é inválido', 1
        IF @ActualRecord IS NULL
            THROW 51000, 'Valor de @ActualRecord é requerido', 1
        IF ISJSON(@ActualRecord) = 0
            THROW 51000, 'Valor de @ActualRecord não está no formato JSON', 1
        
        DECLARE @TransactionId INT = (SELECT MAX([Id]) FROM [cruda].[Transactions] WHERE [LoginId] = @LoginId)
                ,@IsConfirmed BIT
                ,@CreatedBy NVARCHAR(25)
                ,@W_Id int = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Id') AS int)

        IF @TransactionId IS NULL
            THROW 51000, 'Não existe transação para este @LoginId', 1
        SELECT @IsConfirmed = [IsConfirmed]
               ,@CreatedBy = [CreatedBy]
            FROM [cruda].[Transactions]
            WHERE [Id] = @TransactionId
		IF @IsConfirmed IS NOT NULL BEGIN
			SET @ErrorMessage = 'Transação já ' + CASE WHEN @IsConfirmed = 0 THEN 'cancelada' ELSE 'concluída' END;
			THROW 51000, @ErrorMessage, 1
		END
        IF @UserName <> @CreatedBy
            THROW 51000, 'Erro grave de segurança', 1
        IF @W_Id IS NULL
            THROW 51000, 'Valor de Id em @ActualRecord é requerido.', 1
        IF @W_Id < CAST('1' AS int)
            THROW 51000, 'Valor de Id em @ActualRecord deve ser maior que ou igual à 1', 1
        IF @W_Id < CAST('2147483647' AS int)
            THROW 51000, 'Valor de Id em @ActualRecord deve ser menor que ou igual à 2147483647', 1
        IF @Action <> 'create' BEGIN
            IF @LastRecord IS NULL
                THROW 51000, 'Valor de @LastRecord é requerido', 1
            IF ISJSON(@LastRecord) = 0
                THROW 51000, 'Valor de @LastRecord não está no formato JSON', 1
            IF @Action = 'update'
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.Id'), [cruda].[JSON_EXTRACT](@LastRecord, '$.Id'), 'int') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.TableId'), [cruda].[JSON_EXTRACT](@LastRecord, '$.TableId'), 'int') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.Sequence'), [cruda].[JSON_EXTRACT](@LastRecord, '$.Sequence'), 'smallint') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.DomainId'), [cruda].[JSON_EXTRACT](@LastRecord, '$.DomainId'), 'int') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.ReferenceTableId'), [cruda].[JSON_EXTRACT](@LastRecord, '$.ReferenceTableId'), 'int') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.Name'), [cruda].[JSON_EXTRACT](@LastRecord, '$.Name'), 'nvarchar(25)') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.Description'), [cruda].[JSON_EXTRACT](@LastRecord, '$.Description'), 'nvarchar(50)') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.Title'), [cruda].[JSON_EXTRACT](@LastRecord, '$.Title'), 'nvarchar(25)') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.Caption'), [cruda].[JSON_EXTRACT](@LastRecord, '$.Caption'), 'nvarchar(25)') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.ValidValues'), [cruda].[JSON_EXTRACT](@LastRecord, '$.ValidValues'), 'nvarchar(MAX)') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.Default'), [cruda].[JSON_EXTRACT](@LastRecord, '$.Default'), 'nvarchar(MAX)') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.Minimum'), [cruda].[JSON_EXTRACT](@LastRecord, '$.Minimum'), 'nvarchar(MAX)') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.Maximum'), [cruda].[JSON_EXTRACT](@LastRecord, '$.Maximum'), 'nvarchar(MAX)') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsPrimarykey'), [cruda].[JSON_EXTRACT](@LastRecord, '$.IsPrimarykey'), 'bit') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsAutoIncrement'), [cruda].[JSON_EXTRACT](@LastRecord, '$.IsAutoIncrement'), 'bit') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsRequired'), [cruda].[JSON_EXTRACT](@LastRecord, '$.IsRequired'), 'bit') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsListable'), [cruda].[JSON_EXTRACT](@LastRecord, '$.IsListable'), 'bit') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsFilterable'), [cruda].[JSON_EXTRACT](@LastRecord, '$.IsFilterable'), 'bit') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsEditable'), [cruda].[JSON_EXTRACT](@LastRecord, '$.IsEditable'), 'bit') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsGridable'), [cruda].[JSON_EXTRACT](@LastRecord, '$.IsGridable'), 'bit') = 1
                AND [cruda].[IS_EQUAL]([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsEncrypted'), [cruda].[JSON_EXTRACT](@LastRecord, '$.IsEncrypted'), 'bit') = 1
                THROW 51000, 'Nenhuma alteração feita no registro', 1
            IF NOT EXISTS(SELECT 1
                            FROM [dbo].[Columns]
                            WHERE [Id] = [cruda].[JSON_EXTRACT](@LastRecord, '$.Id')
                                  AND [TableId] = [cruda].[JSON_EXTRACT](@LastRecord, '$.TableId')
                                  AND [Sequence] = [cruda].[JSON_EXTRACT](@LastRecord, '$.Sequence')
                                  AND [DomainId] = [cruda].[JSON_EXTRACT](@LastRecord, '$.DomainId')
                                  AND [cruda].[IS_EQUAL]([ReferenceTableId], [cruda].[JSON_EXTRACT](@LastRecord, '$.ReferenceTableId'), 'int') = 1
                                  AND [Name] = [cruda].[JSON_EXTRACT](@LastRecord, '$.Name')
                                  AND [Description] = [cruda].[JSON_EXTRACT](@LastRecord, '$.Description')
                                  AND [Title] = [cruda].[JSON_EXTRACT](@LastRecord, '$.Title')
                                  AND [Caption] = [cruda].[JSON_EXTRACT](@LastRecord, '$.Caption')
                                  AND [cruda].[IS_EQUAL]([ValidValues], [cruda].[JSON_EXTRACT](@LastRecord, '$.ValidValues'), 'nvarchar(MAX)') = 1
                                  AND [cruda].[IS_EQUAL]([Default], [cruda].[JSON_EXTRACT](@LastRecord, '$.Default'), 'nvarchar(MAX)') = 1
                                  AND [cruda].[IS_EQUAL]([Minimum], [cruda].[JSON_EXTRACT](@LastRecord, '$.Minimum'), 'nvarchar(MAX)') = 1
                                  AND [cruda].[IS_EQUAL]([Maximum], [cruda].[JSON_EXTRACT](@LastRecord, '$.Maximum'), 'nvarchar(MAX)') = 1
                                  AND [cruda].[IS_EQUAL]([IsPrimarykey], [cruda].[JSON_EXTRACT](@LastRecord, '$.IsPrimarykey'), 'bit') = 1
                                  AND [cruda].[IS_EQUAL]([IsAutoIncrement], [cruda].[JSON_EXTRACT](@LastRecord, '$.IsAutoIncrement'), 'bit') = 1
                                  AND [IsRequired] = [cruda].[JSON_EXTRACT](@LastRecord, '$.IsRequired')
                                  AND [cruda].[IS_EQUAL]([IsListable], [cruda].[JSON_EXTRACT](@LastRecord, '$.IsListable'), 'bit') = 1
                                  AND [cruda].[IS_EQUAL]([IsFilterable], [cruda].[JSON_EXTRACT](@LastRecord, '$.IsFilterable'), 'bit') = 1
                                  AND [cruda].[IS_EQUAL]([IsEditable], [cruda].[JSON_EXTRACT](@LastRecord, '$.IsEditable'), 'bit') = 1
                                  AND [cruda].[IS_EQUAL]([IsGridable], [cruda].[JSON_EXTRACT](@LastRecord, '$.IsGridable'), 'bit') = 1
                                  AND [cruda].[IS_EQUAL]([IsEncrypted], [cruda].[JSON_EXTRACT](@LastRecord, '$.IsEncrypted'), 'bit') = 1)
                THROW 51000, 'Registro de Columns alterado por outro usuário', 1
        END
        IF @Action = 'delete' BEGIN
            IF EXISTS(SELECT 1 FROM [dbo].[Indexkeys] WHERE [ColumnId] = @W_Id)
                THROW 51000, 'Chave-primária referenciada em Indexkeys', 1
        END ELSE BEGIN

            DECLARE @W_TableId int = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.TableId') AS int)
                   ,@W_Sequence smallint = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Sequence') AS smallint)
                   ,@W_DomainId int = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.DomainId') AS int)
                   ,@W_ReferenceTableId int = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.ReferenceTableId') AS int)
                   ,@W_Name nvarchar(25) = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Name') AS nvarchar(25))
                   ,@W_Description nvarchar(50) = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Description') AS nvarchar(50))
                   ,@W_Title nvarchar(25) = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Title') AS nvarchar(25))
                   ,@W_Caption nvarchar(25) = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Caption') AS nvarchar(25))
                   ,@W_ValidValues nvarchar(MAX) = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.ValidValues') AS nvarchar(MAX))
                   ,@W_Default nvarchar(MAX) = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Default') AS nvarchar(MAX))
                   ,@W_Minimum nvarchar(MAX) = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Minimum') AS nvarchar(MAX))
                   ,@W_Maximum nvarchar(MAX) = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.Maximum') AS nvarchar(MAX))
                   ,@W_IsPrimarykey bit = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsPrimarykey') AS bit)
                   ,@W_IsAutoIncrement bit = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsAutoIncrement') AS bit)
                   ,@W_IsRequired bit = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsRequired') AS bit)
                   ,@W_IsListable bit = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsListable') AS bit)
                   ,@W_IsFilterable bit = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsFilterable') AS bit)
                   ,@W_IsEditable bit = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsEditable') AS bit)
                   ,@W_IsGridable bit = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsGridable') AS bit)
                   ,@W_IsEncrypted bit = CAST([cruda].[JSON_EXTRACT](@ActualRecord, '$.IsEncrypted') AS bit)

            IF @W_TableId IS NOT NULL AND @W_TableId < CAST('1' AS int) BEGIN
                SET @ErrorMessage = @ErrorMessage + 'Valor de TableId em @ActualRecord deve ser maior que ou igual à 1';
                THROW 51000, @ErrorMessage, 1
            END
            IF @W_TableId IS NOT NULL AND @W_TableId > CAST('2147483647' AS int) BEGIN
                SET @ErrorMessage = @ErrorMessage + 'Valor de TableId em @ActualRecord deve ser menor que ou igual à 2147483647';
                THROW 51000, @ErrorMessage, 1
            END
            IF NOT EXISTS(SELECT 1 FROM [dbo].[Tables] WHERE [Id] = @W_TableId) BEGIN
                SET @ErrorMessage = @ErrorMessage + 'Valor de Id em @ActualRecord inexiste em Tables';
                THROW 51000, @ErrorMessage, 1
            END
            IF @W_Sequence IS NOT NULL AND @W_Sequence < CAST('1' AS smallint) BEGIN
                SET @ErrorMessage = @ErrorMessage + 'Valor de Sequence em @ActualRecord deve ser maior que ou igual à 1';
                THROW 51000, @ErrorMessage, 1
            END
            IF @W_Sequence IS NOT NULL AND @W_Sequence > CAST('32767' AS smallint) BEGIN
                SET @ErrorMessage = @ErrorMessage + 'Valor de Sequence em @ActualRecord deve ser menor que ou igual à 32767';
                THROW 51000, @ErrorMessage, 1
            END
            IF @W_DomainId IS NOT NULL AND @W_DomainId < CAST('1' AS int) BEGIN
                SET @ErrorMessage = @ErrorMessage + 'Valor de DomainId em @ActualRecord deve ser maior que ou igual à 1';
                THROW 51000, @ErrorMessage, 1
            END
            IF @W_DomainId IS NOT NULL AND @W_DomainId > CAST('2147483647' AS int) BEGIN
                SET @ErrorMessage = @ErrorMessage + 'Valor de DomainId em @ActualRecord deve ser menor que ou igual à 2147483647';
                THROW 51000, @ErrorMessage, 1
            END
            IF NOT EXISTS(SELECT 1 FROM [dbo].[Domains] WHERE [Id] = @W_DomainId) BEGIN
                SET @ErrorMessage = @ErrorMessage + 'Valor de Id em @ActualRecord inexiste em Domains';
                THROW 51000, @ErrorMessage, 1
            END
            IF @W_ReferenceTableId IS NOT NULL AND @W_ReferenceTableId < CAST('1' AS int) BEGIN
                SET @ErrorMessage = @ErrorMessage + 'Valor de ReferenceTableId em @ActualRecord deve ser maior que ou igual à 1';
                THROW 51000, @ErrorMessage, 1
            END
            IF @W_ReferenceTableId IS NOT NULL AND @W_ReferenceTableId > CAST('2147483647' AS int) BEGIN
                SET @ErrorMessage = @ErrorMessage + 'Valor de ReferenceTableId em @ActualRecord deve ser menor que ou igual à 2147483647';
                THROW 51000, @ErrorMessage, 1
            END
            IF NOT EXISTS(SELECT 1 FROM [dbo].[Tables] WHERE [Id] = @W_ReferenceTableId) BEGIN
                SET @ErrorMessage = @ErrorMessage + 'Valor de Id em @ActualRecord inexiste em Tables';
                THROW 51000, @ErrorMessage, 1
            END
            IF @Action = 'create' BEGIN
                IF EXISTS(SELECT 1 FROM [dbo].[Columns] WHERE [TableId] = @W_TableId AND [Name] = @W_Name)
                    THROW 51000, 'Chave única de UNQ_Columns_TableId_Name já existe', 1
                IF EXISTS(SELECT 1 FROM [dbo].[Columns] WHERE [TableId] = @W_TableId AND [Sequence] = @W_Sequence)
                    THROW 51000, 'Chave única de UNQ_Columns_TableId_Sequence já existe', 1
            END ELSE IF EXISTS(SELECT 1 FROM [dbo].[Columns] WHERE [TableId] = @W_TableId AND [Name] = @W_Name AND [Id] <> @W_Id)
                THROW 51000, 'Chave única de UNQ_Columns_TableId_Name inexiste', 1
            ELSE IF EXISTS(SELECT 1 FROM [dbo].[Columns] WHERE [TableId] = @W_TableId AND [Sequence] = @W_Sequence AND [Id] <> @W_Id)
                THROW 51000, 'Chave única de UNQ_Columns_TableId_Sequence inexiste', 1
        END

        RETURN @TransactionId
    END TRY
    BEGIN CATCH
        SET @ErrorMessage = '[' + ERROR_PROCEDURE() + ']: Error: ' + ERROR_MESSAGE() + ', Line: ' + CAST(ERROR_LINE() AS NVARCHAR(10));
        THROW 51000, @ErrorMessage, 1
    END CATCH
END
