:root {
    --text-height: 3dvmin;
    --background-color: bisque;
    --background-color-control: thistle;
    --background-color-focus: burlywood;
    --background-color-active: beige;
    --background-color-extra: brown;
    --menu-width: 0ch;
    --screen-gap: 2px;
    --control-height: 5dvmin;
    --opacity-screen: 0.5;
    --font-size-grid: 1.5dvmin;
    --font-size-body: 2.0dvmin;
    --border-radius: 2dvmin;
    --rows-per-page: 35;
    --grid-thead-height: 1.5dvmin;
    --grid-tfoot-height: 1.5dvmin;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Arial;
    font-size: var(--font-size-body);
    font-weight: bold;
    color: blue;
    background-color: grey;
    overflow: hidden;
    user-select: none;
    height: 100vh;
}

body > dialog {
    position: fixed;
    margin: 0;
}

.box {
    z-index: 1;
    border: 0.2dvmin solid black;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
}