use crudex
go
-- exec [CategoriesRead] 9,null,'{"Name": 'joao'}',null,1,0,1,1,1,1

	begin transaction


	DECLARE @LimitRows INT = 1
			,@MaxPage INT = 1
			,@ReturnValue BIGINT = 1
			,@ErrorMessage NVARCHAR(MAX)
	DECLARE @SessionId BIGINT = 9
			,@RecordFilter NVARCHAR(MAX)
			,@RecordSearch NVARCHAR(MAX)='{"Name": ''joao''}'
			,@OrderBy NVARCHAR(MAX) = null
			,@PaddingGridLastPage BIT = 1
			,@IsActionList BIT = 0
			,@PageNumber INT = 1
        SET NOCOUNT ON
        SET TRANSACTION ISOLATION LEVEL READ COMMITTED
        IF @SessionId IS NULL
            THROW 51000, 'Valor de @SessionId é requerido', 1
        IF @RecordFilter IS NULL
            SET @RecordFilter = '{}'
        ELSE IF ISJSON(@RecordFilter) = 0
            THROW 51000, 'Valor de @RecordFilter não está no formato JSON', 1
        SET @OrderBy = TRIM(ISNULL(@OrderBy, ''))
        IF @OrderBy = ''
            SET @OrderBy = '[Id]'
        ELSE BEGIN
            SET @OrderBy = REPLACE(REPLACE(@OrderBy, '[', ''), ']', '')
            IF EXISTS(SELECT 1 
                         FROM (SELECT CASE WHEN TRIM(RIGHT([value], 4)) = 'DESC' THEN LEFT(TRIM([value]), LEN(TRIM([value])) - 4)
                                           WHEN TRIM(RIGHT([value], 3)) = 'ASC' THEN LEFT(TRIM([value]), LEN(TRIM([value])) - 3)
                                           ELSE TRIM([value])
                                      END AS [ColumnName]
                                  FROM STRING_SPLIT(@OrderBy, ',')) AS [O]
                                      LEFT JOIN (SELECT [#1].[name] AS ColumnName
                                                    FROM [sys].[columns] [#1]
                                                        INNER JOIN [sys].[tables] [#2] ON [#1].[object_id] = [#2].[object_id]
                                                    WHERE [#2].[name] = 'Categories') AS [T] ON [T].[ColumnName] = [O].[ColumnName]
                         WHERE [T].[ColumnName] IS NULL)
                THROW 51000, 'Nome de coluna em @OrderBy é inválido', 1
            SELECT @OrderBy = STRING_AGG('[' + TRIM(CASE WHEN TRIM(RIGHT([value], 4)) = 'DESC' THEN LEFT(TRIM([value]), LEN(TRIM([value])) - 4)
                                                         WHEN TRIM(RIGHT([value], 3)) = 'ASC' THEN LEFT(TRIM([value]), LEN(TRIM([value])) - 3)
                                                         ELSE TRIM([value])
                                                    END) + '] ' + 
                                                    CASE WHEN TRIM(RIGHT([value], 4)) = 'DESC' THEN 'DESC'
                                                         WHEN TRIM(RIGHT([value], 3)) = 'ASC' THEN 'ASC'
                                                         ELSE 'ASC'
                                                    END, ', ')
                FROM STRING_SPLIT(@OrderBy, ',')
        END

        DECLARE @TransactionId BIGINT = (SELECT MAX([Id]) FROM [dbo].[Transactions] WHERE [SessionId] = @SessionId)

        IF NOT EXISTS(SELECT 1 FROM [dbo].[Transactions] WHERE [Id] = @TransactionId AND [IsConfirmed] IS NULL)
            SET @TransactionId = NULL
        SELECT [Action] AS [_]
              ,CAST(JSON_VALUE([ActualRecord], '$.Id') AS tinyint) AS [Id]
              ,CAST(JSON_VALUE([ActualRecord], '$.Name') AS nvarchar(25)) AS [Name]
              ,CAST(JSON_VALUE([ActualRecord], '$.HtmlInputType') AS nvarchar(10)) AS [HtmlInputType]
              ,CAST(JSON_VALUE([ActualRecord], '$.HtmlInputAlign') AS nvarchar(6)) AS [HtmlInputAlign]
              ,CAST(JSON_VALUE([ActualRecord], '$.AskEncrypted') AS bit) AS [AskEncrypted]
              ,CAST(JSON_VALUE([ActualRecord], '$.AskMask') AS bit) AS [AskMask]
              ,CAST(JSON_VALUE([ActualRecord], '$.AskListable') AS bit) AS [AskListable]
              ,CAST(JSON_VALUE([ActualRecord], '$.AskDefault') AS bit) AS [AskDefault]
              ,CAST(JSON_VALUE([ActualRecord], '$.AskMinimum') AS bit) AS [AskMinimum]
              ,CAST(JSON_VALUE([ActualRecord], '$.AskMaximum') AS bit) AS [AskMaximum]
              ,CAST(JSON_VALUE([ActualRecord], '$.AskInWords') AS bit) AS [AskInWords]
            INTO [#tmpOperations]
            FROM [dbo].[Operations]
            WHERE [TransactionId] = @TransactionId
                  AND [TableName] = 'Categories'
                  AND [IsConfirmed] IS NULL
        CREATE UNIQUE INDEX [#tmpOperations] ON [#tmpOperations]([Id])

        DECLARE @_ NVARCHAR(MAX) = (SELECT STRING_AGG(value, ',') FROM OPENJSON(@RecordFilter, '$._'))
               ,@Where NVARCHAR(MAX) = ''
               ,@sql NVARCHAR(MAX)

        IF @_ IS NULL BEGIN
            DECLARE @W_Id tinyint = CAST(JSON_VALUE(@RecordFilter, '$.Id') AS tinyint)
                   ,@W_Name nvarchar(25) = CAST(JSON_VALUE(@RecordFilter, '$.Name') AS nvarchar(25))
                   ,@W_AskEncrypted bit = CAST(JSON_VALUE(@RecordFilter, '$.AskEncrypted') AS bit)
                   ,@W_AskMask bit = CAST(JSON_VALUE(@RecordFilter, '$.AskMask') AS bit)
                   ,@W_AskListable bit = CAST(JSON_VALUE(@RecordFilter, '$.AskListable') AS bit)
                   ,@W_AskDefault bit = CAST(JSON_VALUE(@RecordFilter, '$.AskDefault') AS bit)
                   ,@W_AskMinimum bit = CAST(JSON_VALUE(@RecordFilter, '$.AskMinimum') AS bit)
                   ,@W_AskMaximum bit = CAST(JSON_VALUE(@RecordFilter, '$.AskMaximum') AS bit)
                   ,@W_AskInWords bit = CAST(JSON_VALUE(@RecordFilter, '$.AskInWords') AS bit)

            IF @W_Id IS NOT NULL BEGIN
                IF @W_Id < CAST('1' AS tinyint)
                    THROW 51000, 'Valor de Id deve ser maior que ou igual a ''1''', 1
                SET @Where = @Where + ' AND [T].[Id] = @Id'
            END
            IF @W_Name IS NOT NULL BEGIN
                SET @Where = @Where + ' AND [T].[Name] = @Name'
            END
            IF @W_AskEncrypted IS NOT NULL BEGIN
                SET @Where = @Where + ' AND [T].[AskEncrypted] = @AskEncrypted'
            END
            IF @W_AskMask IS NOT NULL BEGIN
                SET @Where = @Where + ' AND [T].[AskMask] = @AskMask'
            END
            IF @W_AskListable IS NOT NULL BEGIN
                SET @Where = @Where + ' AND [T].[AskListable] = @AskListable'
            END
            IF @W_AskDefault IS NOT NULL BEGIN
                SET @Where = @Where + ' AND [T].[AskDefault] = @AskDefault'
            END
            IF @W_AskMinimum IS NOT NULL BEGIN
                SET @Where = @Where + ' AND [T].[AskMinimum] = @AskMinimum'
            END
            IF @W_AskMaximum IS NOT NULL BEGIN
                SET @Where = @Where + ' AND [T].[AskMaximum] = @AskMaximum'
            END
            IF @W_AskInWords IS NOT NULL BEGIN
                SET @Where = @Where + ' AND [T].[AskInWords] = @AskInWords'
            END
        END ELSE
            SET @Where = ' AND [T].[Id] IN (' + @_ + ')'
		print @Where
        SET @sql = 'INSERT [#tmpTable]
                        SELECT ''T'' AS [_]
                              ,[T].[Id]
                            FROM [dbo].[Categories] [T]
                                LEFT JOIN [#tmpOperations] [#] ON [#].[Id] = [T].[Id]
                            WHERE [#].[Id] IS NULL' + @Where + '
                        UNION ALL
                            SELECT ''O'' AS [_]
                                  ,[T].[Id]
                                FROM [#tmpOperations] [T]
                                WHERE [T].[_] <> ''delete''' + @Where
        CREATE TABLE [#tmpTable]([_] CHAR(1), [Id] tinyint)
        IF @_ IS NULL
            EXEC sp_executesql @sql
                               ,N'@Id tinyint
                               ,@Name nvarchar(25)
                               ,@AskEncrypted bit
                               ,@AskMask bit
                               ,@AskListable bit
                               ,@AskDefault bit
                               ,@AskMinimum bit
                               ,@AskMaximum bit
                               ,@AskInWords bit'
                           ,@Id = @W_Id
                           ,@Name = @W_Name
                           ,@AskEncrypted = @W_AskEncrypted
                           ,@AskMask = @W_AskMask
                           ,@AskListable = @W_AskListable
                           ,@AskDefault = @W_AskDefault
                           ,@AskMinimum = @W_AskMinimum
                           ,@AskMaximum = @W_AskMaximum
                           ,@AskInWords = @W_AskInWords
        ELSE
            EXEC sp_executesql @sql

        DECLARE @RowCount INT = @@ROWCOUNT
               ,@OffSet INT

        CREATE UNIQUE INDEX [#tmpTable] ON [#tmpTable]([Id])
        IF @RowCount = 0 OR ISNULL(@PageNumber, 0) = 0 OR ISNULL(@LimitRows, 0) <= 0 BEGIN
            SET @OffSet = 0
            SET @LimitRows = CASE WHEN @RowCount = 0 THEN 1 ELSE @RowCount END
            SET @PageNumber = 1
            SET @MaxPage = 1
        END ELSE BEGIN
            SET @MaxPage = @RowCount / @LimitRows + CASE WHEN @RowCount % @LimitRows = 0 THEN 0 ELSE 1 END
            IF ABS(@PageNumber) > @MaxPage
                SET @PageNumber = CASE WHEN @PageNumber < 0 THEN -@MaxPage ELSE @MaxPage END
            IF @PageNumber < 0
                SET @PageNumber = @MaxPage - ABS(@PageNumber) + 1
            SET @OffSet = (@PageNumber - 1) * @LimitRows
            IF @PaddingGridLastPage = 1 AND @OffSet + @LimitRows > @RowCount
                SET @OffSet = CASE WHEN @RowCount > @LimitRows THEN @RowCount - @LimitRows ELSE 0 END
            IF @RecordSearch IS NOT NULL BEGIN
                DECLARE @S_Id tinyint = CAST(JSON_VALUE(@RecordFilter, '$.Id') AS tinyint)
                       ,@S_Name nvarchar(25) = CAST(JSON_VALUE(@RecordFilter, '$.Name') AS nvarchar(25))
                       ,@S_AskEncrypted bit = CAST(JSON_VALUE(@RecordFilter, '$.AskEncrypted') AS bit)
                       ,@S_AskMask bit = CAST(JSON_VALUE(@RecordFilter, '$.AskMask') AS bit)
                       ,@S_AskListable bit = CAST(JSON_VALUE(@RecordFilter, '$.AskListable') AS bit)
                       ,@S_AskDefault bit = CAST(JSON_VALUE(@RecordFilter, '$.AskDefault') AS bit)
                       ,@S_AskMinimum bit = CAST(JSON_VALUE(@RecordFilter, '$.AskMinimum') AS bit)
                       ,@S_AskMaximum bit = CAST(JSON_VALUE(@RecordFilter, '$.AskMaximum') AS bit)
                       ,@S_AskInWords bit = CAST(JSON_VALUE(@RecordFilter, '$.AskInWords') AS bit)

                SET @Where = ''
                IF @S_Id IS NOT NULL BEGIN
                    SET @Where = @Where + CASE WHEN @Where = '' THEN '' ELSE ' AND ' END + '[T].[Id] = @Id'
                END
				print @Where
                SET @sql =';WITH CTE AS (SELECT ROW_NUMBER() OVER (ORDER BY ' + @OrderBy + ') AS Recno,
                                                [T].[Id]
                                            FROM [#tmpTable] [#]
                                                INNER JOIN [dbo].[Masks] [T] ON [T].[Id] = [#].[Id]
                                            WHERE [#].[_] = ''T''
                                         UNION ALL
                                         SELECT ROW_NUMBER() OVER (ORDER BY ' + @OrderBy + ') + (SELECT COUNT(*) FROM [#tmpTable] [#] WHERE [#].[_] = ''T''),
                                                [O].[Id]
                                            FROM [#tmpTable] [#]
                                                INNER JOIN [#tmpOperations] [O] ON [O].[Id] = [#].[Id]
                                            WHERE [#].[_] = ''O'')
                                SELECT TOP 1 @PageNumber = (Recno - 1) / @LimitRows + 1
                                    FROM CTE
                                        INNER JOIN [dbo].[Masks] [T] ON [T].[Id] = [CTE].[Id]' 
                         + CASE WHEN @Where = '' THEN '' ELSE ' WHERE' + @Where END
				
				declare @params nvarchar(max) = N'@PageNumber INT OUTPUT, @LimitRows INT';
                EXEC sp_executesql @sql, @params, @PageNumber = @PageNumber OUTPUT, @LimitRows = @LimitRows;
            END
        END
        SELECT TOP 0 CAST(NULL AS NVARCHAR(50)) AS [Kind]
                    ,CAST(NULL AS tinyint) AS [Id]
                    ,CAST(NULL AS nvarchar(25)) AS [Name]
                    ,CAST(NULL AS nvarchar(10)) AS [HtmlInputType]
                    ,CAST(NULL AS nvarchar(6)) AS [HtmlInputAlign]
                    ,CAST(NULL AS bit) AS [AskEncrypted]
                    ,CAST(NULL AS bit) AS [AskMask]
                    ,CAST(NULL AS bit) AS [AskListable]
                    ,CAST(NULL AS bit) AS [AskDefault]
                    ,CAST(NULL AS bit) AS [AskMinimum]
                    ,CAST(NULL AS bit) AS [AskMaximum]
                    ,CAST(NULL AS bit) AS [AskInWords]
            INTO [#result]
        SET @sql = 'INSERT #result
                        SELECT ''Category'' AS [Kind]
                              ,[T].[Id]
                              ,[T].[Name]
                              ,[T].[HtmlInputType]
                              ,[T].[HtmlInputAlign]
                              ,[T].[AskEncrypted]
                              ,[T].[AskMask]
                              ,[T].[AskListable]
                              ,[T].[AskDefault]
                              ,[T].[AskMinimum]
                              ,[T].[AskMaximum]
                              ,[T].[AskInWords]
                            FROM [#tmpTable] [#]
                                INNER JOIN [dbo].[Categories] [T] ON [T].[Id] = [#].[Id]
                            WHERE [#].[_] = ''T''
                        UNION ALL
                            SELECT ''Category'' AS [Kind]
                                  ,[O].[Id]
                                  ,[O].[Name]
                                  ,[O].[HtmlInputType]
                                  ,[O].[HtmlInputAlign]
                                  ,[O].[AskEncrypted]
                                  ,[O].[AskMask]
                                  ,[O].[AskListable]
                                  ,[O].[AskDefault]
                                  ,[O].[AskMinimum]
                                  ,[O].[AskMaximum]
                                  ,[O].[AskInWords]
                                FROM [#tmpTable] [#]
                                    INNER JOIN [#tmpOperations] [O] ON [O].[Id] = [#].[Id]
                                WHERE [#].[_] = ''O''
                        ORDER BY ' + @OrderBy + '
                        OFFSET ' + CAST(@offset AS NVARCHAR(20)) + ' ROWS
                        FETCH NEXT ' + CAST(@LimitRows AS NVARCHAR(20)) + ' ROWS ONLY'
        EXEC sp_executesql @sql
        SELECT [Kind]
              ,[Id]
              ,[Name]
              ,[Name] AS [ListItemValue]
              ,[HtmlInputType]
              ,[HtmlInputAlign]
              ,[AskEncrypted]
              ,[AskMask]
              ,[AskListable]
              ,[AskDefault]
              ,[AskMinimum]
              ,[AskMaximum]
              ,[AskInWords]
            FROM [#result]
        SET @ReturnValue = @RowCount
		rollback
