.form {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Altere para 5 para cinco colunas */
    gap: 2dvmin;
    justify-items: center;
    align-items: start;
    padding: 2dvmin;
}

.form fieldset {
    border: none;
    color: black;
    font-size: 1.5dvmin;
    text-align: left;
    width: 100%; /* Ajusta o tamanho do fieldset para preencher a célula da grade */
}

.form input[type="checkbox"] {
    width: var(--font-size-grid);
    height: var(--font-size-grid);
}

.form input {
    height: calc(var(--background-color-control) + 0.5dvmin);
    font-size: inherit;
}

.form textarea {
    font-size: var(--background-color-control);
}

.buttonsBar {
    grid-column: span 4; /* Ajusta para 5 caso use cinco colunas */
    text-align: center;
    margin-top: 2dvmin;
}

.buttonsBar .button {
    margin-top: 1dvmin;
    margin-bottom: 1dvmin;
    margin-right: 5dvmin;
    width: 20dvmin;
    height: 3.5dvmin;
    font-size: 1.5dvmin;
    background: var(--background-color-control);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 15%;
}

.buttonsBar .button:hover {
    background: var(--background-color-focus);
    background-repeat: no-repeat;
    background-size: 15%;
}

.buttonsBar .button:active {
    background: var(--background-color-active);
    background-repeat: no-repeat;
    background-size: 15%;
}