.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    user-select: none;
}

.form fieldset {
    border: none;
    color: black;
    font-size: 1.5dvmin;
    margin: 2dvmin;
    text-align: center;
}

.form input[type="checkbox"] {
    width: var(--font-size-grid);
    height: var(--font-size-grid);
}

.form input {
    height: calc(var(--background-color-control) + 0.5dvmin);
    font-size: inherit;
}

.form textarea {
    font-size: var(--background-color-control);
}

.buttonsBar {
    text-align: center;
}

.buttonsBar .button {
    margin-top: 1dvmin;
    margin-bottom: 1dvmin;
    margin-right: 5dvmin;
    width: 20dvmin;
    height: 3.5dvmin;
    font-size: 1.5dvmin;
    background: var(--background-color-control);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 15%;
}

.buttonsBar .button:hover {
    background: var(--background-color-focus);
    background-repeat: no-repeat;
    background-size: 15%;
}

.buttonsBar .button:active {
    background: var(--background-color-active);
    background-repeat: no-repeat;
    background-size: 15%;
}