.grid {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: var(--font-size-grid);
    color: black;
    border: solid 0.1dvmin black;
    font-weight: normal;
    white-space: nowrap;
    max-width: 100%;
}

.grid input[type="checkbox"] {
    width: var(--font-size-grid);
    height: var(--font-size-grid);
}

.grid tbody tr:nth-of-type(odd) {
    background-color: var(--background-color-active);
}

.currentRow {
    background-color: var(--background-color-control);
}

.grid td,
.grid th {
    padding: 1dvmin;
    border-right: solid 0.1dvmin black;
}

.grid th {
    border-top: solid 1px black;
    text-align: center;
}

.grid td.real {
    text-align: right;
}

    .grid td.real::before {
        content: 'R$ ';
    }

.grid thead tr,
.grid tfoot tr {
    background-color: var(--background-color-focus);
    position: sticky;
    height: 1.5dvmin;
}

.grid thead tr {
    top: 0;
}

.grid tfoot tr {
    bottom: 0;
}

.grid tbody tr:nth-of-type(n):hover {
    background-color: var(--background-color-focus);
}

.grid input[type=number]::-webkit-inner-spin-button,
.grid input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.grid th button {
    text-transform: uppercase;
    outline: 0;
    background-color: var(--background-color-focus);
    width: var(--control-height);
    height: calc(0.5 * var(--control-height));
    border: 0;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    cursor: pointer;
    border-radius: var(--border-radius);
    background-size: 100% 100%;
    margin: 0.5dvmin 1.5dvmin;
}

.grid thead th:hover {
    background: var(--background-color);
}

.grid thead th:active {
    background: var(--background-color-active);
}

.grid th button:hover {
    background: var(--background-color-control);
    background-size: 100% 100%;
}

.grid th button:active {
    background-color: var(--background-color-active);
    background-size: 100% 100%;
}

.numberInput {
    text-align: right;
    width: 10dvmin;
    height: 3dvmin;
    font-size: inherit;
    float: left;
}

.container {
    display: grid;
    grid-template-columns: 1fr auto; /* Grid com scroll ao lado */
    width: 100dvmax;
    height: calc(100dvmin - 13dvmin); /* Ajuste conforme a altura do cabeçalho e rodapé */
    position: relative;
    overflow: hidden;
}

.grid-wrapper {
    overflow-y: auto;
    display: block;
}

.scroll-container {
    width: 3dvmin;
    background-color: #eee;
    display: flex;
    align-items: center;
    position: relative;
    pointer-events: auto;
}

.scroll-track {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-control);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.scroll-thumb {
    position: absolute;
    width: 100%;
    background-color: darkblue;
    cursor: grab;
    border-radius: var(--border-radius);
    min-height: 3dvmin;
    max-height: 3dvmin;
    top: 0;
}

.grid-container {
    flex: 1;
    overflow-y: auto; /* Permite que o grid role verticalmente */
    position: relative;
}
.invisible {
    display: none;
}