.login {
    max-width: 30vmin;
    margin: 10vmin auto 0 auto;
    background-color: var(--background-color);
    width: 50vmin;
    height: var(--control-height * 3);
    padding: 5vmin;
    text-align: center;
    user-select: none;
}

.login input {
    outline: 0;
    background: white;
    width: 30vmin;
    height: var(--control-height);
    border: 0;
    margin: 0 0 1vmin 0;
    color: black;
    font-size: inherit;
    padding: 1vmin;
    box-sizing: border-box;
    border-radius: 2vmin;
    border: 0.2vmin solid black;
}

.login button {
    text-transform: uppercase;
    outline: 0;
    background: var(--background-color-control);
    width: 15vmin;
    height: var(--control-height);
    border: 0;
    font-size: inherit;
    padding: 1vmin;
    color: inherit;
    font-weight: inherit;
    cursor: pointer;
    border-radius: 2vmin;
    margin-top: 3vmin;
}

.login button:hover,
.login button:focus {
    background: var(--background-color-focus);
}

.login button:active {
    background-color: var(--background-color-active);
}