:root {
    --text-height: 4vmin;
    --background-color: bisque;
    --background-color-control: thistle;
    --background-color-focus: burlywood;
    --background-color-active: beige;
    --menu-width: 20ch;
    --main-height: 87vmin;
    --control-height: 5vmin;
    --opacity-screen: 0.5;
    --font-size-grid: 1.5vmin;
    --font-size-body: 2.5vmin;
    --border-radius: 2vmin;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    font-size: var(--font-size-body);
    font-weight: bold;
    color: blue;
    background-color: grey;
    padding: 0;
    overflow: hidden;
}

.box {
    z-index: 1;
    border: 0.2vmin solid black;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    margin-top: 0;
    box-shadow: 0 0 1vmin 0 rgba(0, 0, 0, 0.2), 0 1vmin 1vmin 0 rgba(0, 0, 0, 0.24);
}