.menu {
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    height: var(--control-height);
    padding: 1dvmin 0;
    border: 0.2dvmin solid black;
    box-shadow: 0 0 1dvmin 0 rgba(0, 0, 0, 0.2), 0 1dvmin 1dvmin 0 rgba(0, 0, 0, 0.24);
}

.menu ul li {
    display: inline;
    background-color: var(--background-color-control);
    float: left;
    width: var(--menu-width);
    height: var(--control-height);
    line-height: var(--control-height);
    text-align: center;
    position: relative;
    cursor: pointer;
}

.menu>ul>li {
    border-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    margin-left: 0.5ch;
    margin-right: 0.5ch;
}

.menu ul {
    padding: 0px;
}

.menu ul ul {
    display: none;
}

.menu ul li:hover>ul {
    display: block;
}

.menu ul ul ul {
    margin-left: calc(var(--menu-width) + 0.1ch);
    top: 0;
    position: absolute;
}

.menu ul li:hover,
.menu ul ul li:hover,
.menu ul ul ul li:hover {
    background-color: var(--background-color-focus);
}

.menu ul li:active,
.menu ul ul li:active,
.menu ul ul ul li:active {
    background-color: var(--background-color-active);
}

.parentMenu {
    float: right;
    font-size: 2dvmin;
}

.firstItem {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.lastItem {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}