.header {
    display: grid;
    grid-template-columns: 20dvmin auto 20dvmin;
    grid-template-rows: var(--text-height);
    line-height: var(--text-height);
    text-align: center;
    text-transform: uppercase;
}

.main {
    height: var(--main-height);
    overflow-x: hidden;
    overflow-y: auto;
    opacity: var(--opacity-screen);
}

.footer {
    height: var(--text-height);
    line-height: var(--text-height);
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.errorMessage {
    color: red;
}