:root {
    --text-height: 4vmin;
    --background-color: bisque;
    --background-color-control: thistle;
    --background-color-focus: burlywood;
    --background-color-active: beige;
    --menu-width: 20ch;
    --main-height: 85vmin;
    --control-height: 5vmin;
    --control-border-radius: 2vmin;
    --opacity-screen: 0.5;
    --font-size-browse: 1.5vmin;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    font-size: 2.5vmin;
    font-weight: bold;
    color: blue;
    background-color: grey;
    padding: 0 1vmin;
    overflow: auto;
}

.box {
    z-index: 1;
    border: 0.2vmin solid black;
    background-color: var(--background-color);
    border-radius: 2vmin;
    margin-top: 0.5vmin;
    box-shadow: 0 0 1vmin 0 rgba(0, 0, 0, 0.2),
        0 1vmin 1vmin 0 rgba(0, 0, 0, 0.24);
}